<!--/* Product Listing Page .
 This is the product listing page. */-->
 
<sly data-sly-resource="${'dynamicsearchmedia' @ resourceType='roche/pharma/customerportal/components/dynamicsearchmedia'}"/>
<sly data-sly-use.metaModel="com.roche.pharma.customerportal.core.models.MetaTagModel">
<div class="t-prod-listing x-comp-offset-spacing" data-module="productlisting">
        <div class="js-page-props" data-listing="products" data-sly-attribute="${metaModel.listingMeta}"></div>
	
	<section class="t-prod-listing__title">
        <div data-sly-resource="${'title' @ resourceType='roche/pharma/customerportal/components/title'}" data-sly-unwrap></div>
    </section>
    <section class="t-prod-listing__banner">
        <sly data-sly-resource="${'heroBanner' @ resourceType='roche/pharma/customerportal/components/heroMedia'}"/>
    </section>
    <section class="x-outer-margins t-prod-listing__subheading">
        <sly data-sly-resource="${'headline' @ resourceType='roche/pharma/customerportal/components/headlinebody'}" />
    </section>
    <div class="t-prod-listing">
        <section class="c-prod-listing-wrapper">
            <div class="prod-search-results-tile">
                <div class="t-prod-result-text">
                    <div class="col-md-3">
                       <span class="t-prod-listing__count js-current-count" data-text="${'rdoe_searchResult.count' @ i18n}"></span>         
                    </div>
                    <div class="col-md-9 js-facets-container">
                    </div>
                </div>
                <div class="c-filter filter-list-container visible-xs">
                    <span class="c-filter-down-arrow j-filter-down-arrow"></span>
                    <span class="c-filter__display-input js-filter-list">${'rdoe_search.Filter' @ i18n}</span>
                    <div class="sort-list-xs x-liipbox hidden c-sort-dropdown-mobile js-filter-list-overlay">
                        <div class="c-sort-overlay">
                            <div class="x-liipbox__top-section js-liipbox-top-section">
                                <div class="col-1 x-liipbox__left-s">
                                    <button class="cross-icon navbar-toggle translated js-cross-icon">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="col-2 x-liipbox__right-s">
                                    <span class="c-sort-title">${'rdoe_search.Filter' @ i18n}</span>
                                </div>
                            </div>
                            <div class="content-section c-content-section js-plp-filter-mobile c-filter">
                                <a data-sly-test="${metaModel.showFeaturedProduct}" href="javascript:void(0)"
                                   class="c-plp-filters js-plp-filters" data-value="featured">
                                    ${'rdoe_productListing.featuredProduct' @ i18n}
                                </a>
                            </div>
                            <div class="content-section c-content-section js-filter-facets-list c-filter">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sorting-list-container x-outer-margins remove-right-margin sorting-list-container-padding">
                    <sly data-sly-resource="${'listingsort' @ resourceType ='roche/pharma/customerportal/components/searchsort/version/listingsort'}"/>
                </div>
            </div>
            <div class="prod-filter-container">
                <div class="js-prod-filter-container prod-filter-container hidden-xs">
                	<span class="c-plp-filters-title">${'rdoe_productListing.products' @ i18n}</span>
                    <a data-sly-test="${metaModel.showFeaturedProduct}" href="javascript:void(0)"
                       class="c-plp-filters js-plp-filters x-sub-hover" data-value="featured">
                        ${'rdoe_productListing.featuredProduct' @ i18n}
                    </a>
                </div>
                <div class="hidden-xs prod-filter-container js-filter-container">
                </div>
            </div>
            <div class="prod-listing-container js-listing-container" data-listing-template="${metaModel.showFeaturedProduct ? 'featured' : ''}" data-enable-template="${metaModel.showFeaturedProduct}">
                <sly data-sly-resource="${'listing-view' @ resourceType='roche/pharma/customerportal/components/listingview'}" />
            </div>
        </section>
    </div>
</div>
  </sly>
