<!--/*
    Product Detail  Page .
    */-->
<sly data-sly-include="productlogo.html"/>

<sly data-sly-use.productdetailmodel="com.roche.pharma.customerportal.core.models.ProductDetailModel" >
<div class="t-pdp-container x-content-wrapper js-pdp-container" data-module="productdetail" data-dtl-enabled="${productdetailmodel.isDTLEnabled.toString}">
 
	<div class="clearfix c-prod-desc-container"><sly data-sly-resource="${'product' @ resourceType='/apps/roche/pharma/customerportal/components/productDetailName'}" /></div>

	<div class="clearfix c-hero-container hidden-xs"><sly data-sly-resource="${'heromedia' @ resourceType='/apps/roche/pharma/customerportal/components/heroMedia'}"  /></div>

	<div class="clearfix c-pdpnav-container x-comp-offset-spacing"><sly data-sly-resource="${'pdpnavtabs' @ resourceType='/apps/roche/pharma/customerportal/components/pdpnavtabs'}" /></div>

	<div class="c-tab-view-container x-component-spacing">
	  <div class="js-tab-view ${wcmmode.edit && 'x-author-visible' || ''}" id="productInfo">
	  <div class="clearfix"><sly data-sly-resource="${'productDescription' @ resourceType='/apps/roche/pharma/customerportal/components/productDescription'}" /></div>
		<sly data-sly-test="${productdetailmodel.isDTLEnabled}">
		<section class="t-pdp-info js-pdp-info clearfix x-outer-margins">
			<div class="t-pdp-info-col">
				<div class="t-pdp-feature-benefits">
					<h2 class="x-h6">${"rdoe_product.featuresAndBenefits" @ i18n}</h2>
					<div class="js-pdp-feature-benefits">
					</div>
				</div>
			</div>
			<div class="t-pdp-info-col">
				<div class="t-pdp-intended-use">           
					<h2 class="x-h7">${"rdoe_product.intendedUse" @ i18n}</h2>
					<div class="js-pdp-intended-use">
					</div>
				</div>
			</div>   
		</section>
		</sly>
		<sly data-sly-test="${!productdetailmodel.isDTLEnabled}">
		<div class="clearfix">
		<section class="t-pdp-info js-pdp-info clearfix x-outer-margins">
        <div class="t-pdp-info-col">
				<div class="t-pdp-feature-benefits">
					<div data-sly-resource="${'benefittext' @ resourceType='roche/pharma/customerportal/components/generictext', selectors='featureandbenefittext'}" data-sly-unwrap></div>
                </div>
                </div>
        <div class="t-pdp-info-col">
		<div class="t-pdp-intended-use">
			<div data-sly-resource="${'intendedusetext' @ resourceType='roche/pharma/customerportal/components/generictext', selectors='intendedusetext'}" data-sly-unwrap></div>
            </div>
 </div>


		</section>
        </div>
		</sly>
			<div data-sly-test.mode="${wcmmode.edit}" >
				Parsys for product infiormation tab
			</div>
		<div class="clearfix"><div data-sly-resource="${'productInfoPar' @ resourceType='foundation/components/parsys'}" data-sly-unwrap></div>
	  </div>
	  </div>
	  
	  <div class="js-tab-view x-display-none ${wcmmode.edit && 'x-author-visible' || ''}"  id="productSpecs">
			<sly data-sly-test="${productdetailmodel.isDTLEnabled}">
			<div class="clearfix"><sly data-sly-resource="${'pdpfeaturespecs' @ resourceType='/apps/roche/pharma/customerportal/components/pdpfeaturespecs'}" /></div>
			</sly>
			<sly data-sly-test="${!productdetailmodel.isDTLEnabled}">
      <div data-sly-test.mode="${wcmmode.edit}" >
				Please configure System specification component
			</div>
			<div class="clearfix">
            <div data-sly-resource="${'systemspecification' @ resourceType='roche/pharma/customerportal/components/systemspecification'}" data-sly-unwrap></div>
            </div>
      </sly>
			<div data-sly-test.mode="${wcmmode.edit}" >
				Parsys for product specification tab
			</div>
		<div data-sly-resource="${'productSpecsPar' @ resourceType='foundation/components/parsys'}" data-sly-unwrap></div>
	  </div>
      
	  <sly data-sly-test="${productdetailmodel.isElabDocEnabled}">
	  <div class="js-tab-view x-display-none ${wcmmode.edit && 'x-author-visible' || ''}" id="documents">
      <div data-sly-test.mode="${wcmmode.edit}" >
				Document tab, Elab document listing component
			</div>
        
	  </div>
	  </sly>
	  <div class="js-tab-view x-display-none ${wcmmode.edit && 'x-author-visible' || ''}" id="relatedProducts">
	    <div class="clearfix"><sly data-sly-resource="${'relatedproducts' @ resourceType='/apps/roche/pharma/customerportal/components/relatedproducts'}" /></div>
	  </div>
	</div>
</div>
</sly>