<div class="clearfix" style="margin-left: 30px;">
	<img src="/content/dam/customerportal/blueRoche.svg" align="left" style="height:100px;width:150px;float: left;" itemprop="logo" alt="Roche Logo">
	<h2 style="float: left;margin-top: 28px;margin-left: 10px;font-size: 38px;">Product Importer</h2>
</div>
<p style="margin-bottom: 4px;margin-left: 30px;">
	This page supports import of individual product.Product import gets all the aspects of product from DTL</p>
<p style=" margin-left: 30px;"> 
To perform bulk import put "bulk" in Product ID text box..
To import single or multiple products, provide product ids in comma seperated form. e.g. INS_1234,INS_5678</p>

    <form target="" action="" method="POST" id="articleImport_form" style="margin-left: 30px;margin-top: 32px;">
            <label for="productId" style="margin-right: 12px;">Enter Product ID</label>
            <input type="text" style="width: 300px;" name="productId" id="productId">
            	<select name="eventType" style="width: 120px;height: 25px;margin-left: 10px;">
                    <option value="ProductImport" selected="selected">ProductImport</option>
					<option value="ProductUpdate">ProductUpdate</option>
				</select>
            <input type="button" value="Import" onclick="form_submit();">
	</form>
    <div id="importResponse"></div>
	<br>


<script type="text/javascript">window.bytesReceived= 0;</script>
    <script type="text/javascript">
        function form_submit(){
            $("#importResponse").text("");
    		var urlValue = "/bin/createProducts",
            id= document.getElementById('productId').value;
            if(id.length==0){
                alert("Enter product id's in comma seperated values. e.g. INS_1234,INS_5678 ");
            }else if(id=='bulk'){
                if(confirm('This will erase all existing product')!=true){
					return;
                }
                urlValue = urlValue+'.html'
            } 
            var formdata = $('#articleImport_form').serialize();            
                $.ajax({
                url: urlValue,
                type:"POST",
                data: formdata
                }).done(function(data,textStatus,response) {
                   $( "#importResponse" ).text(response.responseText);
                });
        }


        String.prototype.getBytes = function() {
            var bytes = [];
            for (var i = 0; i < this.length; i++) {
                var charCode = this.charCodeAt(i);
                var cLen = Math.ceil(Math.log(charCode)/Math.log(256));
                for (var j = 0; j < cLen; j++) {
                    bytes.push((charCode << (j*8)) & 0xFF);
                }
            }
            return bytes.length;
        }
    </script>