<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"
          data-sly-use.head="head.js"
          data-sly-use.headlibRenderer="headlibs.html"
          data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta data-sly-test.keywords="${head.keywords}" name="keywords" content="${keywords}"/>

        <meta data-sly-test.description="${head.description}" name="description" content="${description}"/>
        <link rel="icon" href="/etc/designs/roche/customerportal/clientlibs/roche.global.publish/images/favicon.ico" type="image/x-icon" />

		<sly data-sly-include="seo.html" />

		<sly data-sly-test="${!wcmmode.disabled}" data-sly-call="${headlibRenderer.headlibs @ designPath=head.designPath}" />
    	<sly data-sly-include="author.html" />
        <sly data-sly-include="/libs/cq/cloudserviceconfigs/components/servicelibs/servicelibs.jsp" />

	    <sly data-sly-call="${clientLib.css @ categories='roche.vendor.publish'}" />
		<sly data-sly-call="${clientLib.css @ categories='aemfd.afc.formapp'}" />
        <sly data-sly-call="${clientLib.css @ categories='guide.theme2.common'}" />
        <sly data-sly-call="${clientLib.css @ categories='guideRuntime'}" />
        <sly data-sly-call="${clientLib.css @ categories='af.customwidgets'}" />
        <sly data-sly-call="${clientLib.css @ categories='fdtheme.themeLibrary.basicTheme'}" />
        <sly data-sly-call="${clientLib.css @ categories='roche.global.publish'}" />
        <sly data-sly-call="${clientLib.css @ categories='roche.secondary.publish'}" />


		
		<div data-sly-resource="${'contexthub' @ resourceType='granite/contexthub/components/contexthub'}" data-sly-unwrap></div>
    
    <!-- <script type="text/javascript">
      function getCookie(name) {
        var value = "; " + document.cookie,
          parts = value.split("; " + name + "=");
        if (parts.length == 2) {
          return parts.pop().split(";").shift();
        }
      }
      document.addEventListener('DOMContentLoaded', function() {
        if(typeof getCookie('location-and-language1') === 'undefined') {
          var elem = document.createElement('div');
          elem.className = 'blank-liipbox';
          document.body.className = 'x-no-scroll';
          document.body.appendChild(elem);
        }}, false);
      
    </script> -->
    

 </head>