.c-general-map{
  .contact-container{
    p,a,div{
      color:$clr-white;
    }
    padding: convert-in-rem(48) convert-in-rem(16); 
    background-color: $link-color;
  }
  .contact-wrapper{
    h2{
      font-size: convert-in-rem(22);
      line-height: convert-in-rem(28);
      font-family: $font-imagopro-book;
    }
    .contact-address p{
      margin-bottom:0px;
    }
    .contact-address, .contact-address p,
    .contact-info, .contact-timings, .view-cta a{
      font-size: convert-in-rem(16);
      line-height: convert-in-rem(22);
      font-family: $font-imagopro-book;
    } 
    .contact-address p{
      margin-bottom:0;
    }
    .contact-address, .contact-info, .contact-timings{
      margin-top: convert-in-rem(30);      
    }
    .view-cta{
      margin-top: convert-in-rem(24);
    }
    .u-right-arrow{
      margin-left: convert-in-rem(20);
      margin-top: -4px;
    }
  }
  .map-container{
    padding: 0px 0px;
    height: convert-in-rem(390);
  }
  &__view-cta:hover{
    .u-right-arrow-white{
      background-color: $clr-arrow-blue;
    }
  }
  @media ($tablet) {
    height: convert-in-rem(600);
    .contact-wrapper{
      position:relative;
      top:50%;
      transform: translateY(-50%);
      h2{
        font-size: convert-in-rem(32);
        line-height: convert-in-rem(39);
      }
      .contact-address, .contact-address p,
      .contact-info, .contact-timings{
        font-family: $font-imagopro-book;
        font-weight:300;
      }
      .view-cta a{
        font-size: convert-in-rem(18);
        line-height: convert-in-rem(24);
      } 
      .contact-address{
        margin-top: convert-in-rem(40);
      }
      .u-right-arrow{
        margin-left: convert-in-rem(10);
      } 
    }
    .contact-container, .map-container{
      height:100%;
    }
    .contact-container{
      padding: 0 convert-in-rem(80) 0 convert-in-rem(150);
    }  
  }
}
