<!--

    Product Detail  Component .

  	This is the  component for product detail page

    -->

<sly data-sly-template.registrationstatus_template="${@ data, flag}">
	<div data-sly-test="${data.registrationstatus}" data-sly-unwrap>
		<div class="c-registration-status">

			<p class="c-registration-status__title">${"rdoe_registrationstatus.registrationstatus " @ i18n}</p>
			<p data-sly-list.items="${data.registrationstatus}">     
		      <span class="c-registration-status__content">${items}</span>
		  	</p>
	  	</div>
  	</div>
</sly>