.c-assay-menu {
  .compare-heading{
    font-size:convert-in-rem(48);
    color:$heading-color;
  }
  &__tabs-container {
    padding-top: convert-in-rem(45);
    .tab-list {
      list-style-type: none;
      width: 100%;
      display: inline-block;
      white-space: nowrap;
      padding: 0;
      @media ($mobile){
        border-bottom: 1px solid rgb(155, 164, 170);
        padding: 0 convert-in-rem(10);
        overflow-x: auto;
      }
    }
    .item {
      display: inline-block;
      padding: convert-in-rem(10);
      font-size: convert-in-rem(12);
      line-height: convert-in-rem(16);
      letter-spacing: 2px;
      text-transform: uppercase;
      @media ($tablet-min){
        width:25%;
        float:left;
        padding:0;
      }
      &.selected {
        @media ($mobile){
          border-bottom: 3px solid $clr-acnt-blue;
        }
        .compare-tab-block{
          border-bottom: 3px solid $clr-acnt-blue;
          opacity: 1;
        }
      }
      .compare-tab-block{
        border:1px solid $clr-outline;
        height:convert-in-rem(188);
        margin-right:convert-in-rem(24);
        margin-bottom:convert-in-rem(24);
        padding:convert-in-rem(24);
        opacity: 0.35;
        text-align:center;
        cursor: pointer;
        overflow:hidden;
        &:hover{
          opacity: 1;
          border-bottom:4px solid $clr-acnt-blue;
        }
        .compare-tab-block__img{
          width:auto;
          height:140px;
          overflow:hidden;
        }
      }
      .compare-tab-block-text{
        font-size:convert-in-rem(22);
        line-height:convert-in-rem(24);
        color:$heading-color;
      }
      .margin-zero{
        margin-right:0;
      }
    }
    .item:last-child .compare-tab-block{
      margin-right:0;
    }
    .compare-tab-block:last-child{
      margin-right:convert-in-rem(0);
    }
    .compare-margin{
      margin: convert-in-rem(52) 0;
    }
  }
  &__tabs--m{
    .tab-list::-webkit-scrollbar{
      display: none;
    }
  }
}
@media ($tablet) {
  .c-assay-menu {
    &__key-list {
      display: block;
      margin: convert-in-rem(52) 0 convert-in-rem(35);
    }
  }
}
