<div class="x-modal-up fade modal in" id="myModalPopUp"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-module="modalPopComp">
      <div class="c-modal-up-dialog modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-content__header modal-header">
            <h1 class="modal-title j-modal-title">Modal Title</h1>
         
          </div>
          <div class="modal-content__body modal-body j-modal-body-text">Some randomr randomr randomr randomr randomr randomr</div>
          <div class="modal-content__footer modal-footer">
            <button type="button" class="x-submit-button btn-secondary js-btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="x-submit-button btn-primary js-btn-primary">Save changes</button>
          </div>
        </div>
      </div>  
</div>
<div class="modal-backdrop fade x-modal-backdrop js-modal-backdrop"></div> 