<!--/*

	Feature Table Component
	
	This is Roche Feature Table Component
	
*/-->

<sly data-sly-test.emptyContent="${wcmmode.edit}"> 
	<div data-emptytext="Configure Feature Table" class="cq-placeholder">
	</div>
</sly>
<sly data-sly-use.featureTableModel="com.roche.pharma.customerportal.core.models.FeatureTableModel"
	data-sly-use.lib="/apps/roche/pharma/customerportal/components/featuretable/featuretable-template.html"
	data-sly-call="${lib.featuretable_template @ data=featureTableModel}" />

