/* Function to change px to rem unit */
/**
  Media Queries

  Usage:

  .component{
    // default styles
    @include MQ(mobile | tablet | desktop | ...){
      // Instructions
    }
    }
*/
/*Base font sizes, colors*/
/* Standard color codes */
/*.container {
  @include container-fixed;

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}  */
.c-registration-status__title {
  font-size: 1.375rem;
  line-height: 1.75rem;
  color: #17313f; }
  @media (min-width: 768px) {
    .c-registration-status__title {
      font-size: 2rem;
      line-height: 2.375rem; } }
.c-registration-status__content {
  font-size: 1rem;
  line-height: 1.375rem;
  color: #4a4a4a;
  display: inline-block; }
  @media (min-width: 768px) {
    .c-registration-status__content {
      font-size: 1.25rem;
      line-height: 1.625rem; } }

.c-product-desc {
  clear: both;
  padding: 0 0.9375rem;
  color: #17313f;
  display: block;
  overflow: hidden; }
  .c-product-desc__name {
    color: #17313f;
    font-family: "imago-book", Arial, sans-serif;
    font-size: 1.875rem;
    line-height: 2.25rem; }
  .c-product-desc__subtitle {
    color: #17313f;
    font-family: "imago-book", Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.375rem;
    margin-top: 8px; }
  .c-product-desc .row {
    padding: 0 20px; }
  .c-product-desc .col-left {
    width: 100%;
    padding: 0;
    text-align: center; }
  .c-product-desc .col-right {
    max-width: 100%;
    height: auto;
    padding-top: 1.25rem;
    text-align: center; }
    .c-product-desc .col-right img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%; }

@media (min-width: 768px) {
  .c-product-desc {
    clear: both;
    padding: 0 3.125rem;
    color: #17313f;
    display: block;
    overflow: hidden; }
    .c-product-desc__name {
      color: #17313f;
      font-family: "imago-medium", Arial, sans-serif;
      font-size: 4rem;
      font-weight: bold;
      line-height: 4.25rem; }
    .c-product-desc__subtitle {
      color: #17313f;
      font-family: "imago-book", Arial, sans-serif;
      font-size: 1rem;
      font-weight: normal;
      line-height: 1.375rem; }
    .c-product-desc .col-left {
      width: 58%;
      float: left;
      text-align: left;
      padding-right: 0.9375rem; }
    .c-product-desc .col-right {
      max-width: 100%;
      width: 40%;
      height: auto;
      max-height: 152px;
      overflow: hidden;
      float: right;
      text-align: right;
      padding: 0.3125rem 0.9375rem; }
      .c-product-desc .col-right img {
        width: auto;
        max-width: 100%; } }
.c-feature-table {
  font-family: "imago-book", Arial, sans-serif; }
  .c-feature-table .row {
    margin: 0; }
  .c-feature-table__btn {
    background-color: #0066cc;
    width: 100%;
    display: inline-block;
    padding: 1.6875rem;
    text-align: center; }
    .c-feature-table__btn__titletext {
      color: #ffffff;
      font-size: 1.375rem;
      line-height: 1.375rem;
      font-family: "imago-medium", Arial, sans-serif;
      text-transform: uppercase; }
    .c-feature-table__btn .view-btn {
      background-color: #0066cc;
      border: 1px solid #ffffff;
      width: 100%;
      color: #ffffff;
      font-size: 1rem;
      line-height: 1.375rem;
      padding: 0.9375rem;
      display: inline-block; }
  .c-feature-table__wrapper {
    background: #ffffff;
    z-index: 99999;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    display: none;
    overflow-y: auto; }
    .c-feature-table__wrapper__header {
      clear: both;
      z-index: 99999;
      position: fixed;
      width: 100%;
      height: 60px;
      top: 0;
      overflow: hidden;
      display: block;
      background: #0066cc; }
      .c-feature-table__wrapper__header .right-col {
        padding-left: 1rem;
        display: table-cell; }
        .c-feature-table__wrapper__header .right-col__row {
          display: table;
          font-size: 0.8125rem;
          letter-spacing: 0.125rem;
          line-height: 1.125rem;
          text-transform: uppercase;
          color: #ffffff;
          vertical-align: middle;
          height: 60px; }
        .c-feature-table__wrapper__header .right-col .table-title {
          color: #ffffff;
          font-size: 1rem;
          padding: 0.3125rem 0;
          text-transform: uppercase;
          height: auto;
          vertical-align: middle;
          margin: auto;
          display: table-cell; }
        .c-feature-table__wrapper__header .right-col .table-description {
          display: none;
          text-transform: none; }
      .c-feature-table__wrapper__header .left-col {
        width: 60px;
        height: 60px;
        float: left;
        border-right: 1px solid #ffffff;
        position: relative; }
    .c-feature-table__wrapper__body {
      clear: both;
      padding: 3.75rem 1.25rem 0;
      position: relative;
      transform: translateY(0);
      overflow-y: hidden; }
      .c-feature-table__wrapper__body__inner {
        overflow: auto;
        transform: translateY(20px);
        padding-bottom: 1.25rem; }
      .c-feature-table__wrapper__body caption {
        display: none; }
      .c-feature-table__wrapper__body table {
        border-collapse: collapse;
        border-spacing: 0;
        width: auto;
        overflow: hidden;
        display: inline-block;
        border: 1px solid #18303f; }
      .c-feature-table__wrapper__body tr {
        width: auto; }
        .c-feature-table__wrapper__body tr th {
          background: rgba(255, 200, 208, 0.5);
          border-top: 1px solid #18303f;
          color: #17313f;
          font-size: 1rem;
          padding: 0.9375rem 1.8125rem;
          max-width: 250px;
          display: table-cell;
          top: 0;
          left: 0;
          position: relative;
          font-weight: 100; }
          .c-feature-table__wrapper__body tr th::before {
            -webkit-transition: all 0.8s ease-in-out;
            -moz-transition: all 0.8s ease-in-out;
            -ms-transition: all 0.8s ease-in-out;
            -o-transition: all 0.8s ease-in-out;
            transition: all 0.8s ease-in-out;
            content: '';
            position: absolute;
            top: 0;
            overflow: hidden;
            left: 0;
            width: 0px;
            height: 100%;
            background-color: #ffe4e7;
            z-index: -1; }
          .c-feature-table__wrapper__body tr th.animaterow::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 2500px; }
      .c-feature-table__wrapper__body td {
        border-top: 1px solid #18303f;
        border-left: 1px solid #18303f;
        color: #17313f;
        font-size: 1rem;
        padding: 0.9375rem 1.8125rem;
        width: auto;
        max-width: 300px; }
      .c-feature-table__wrapper__body tr:first-child th {
        background-color: #7cc4ee;
        font-size: 0.75rem;
        padding: 0.9375rem 1.8125rem;
        color: #17313f;
        border-top: none;
        border-left: 1px solid #18303f;
        text-transform: uppercase;
        z-index: -1; }
        .c-feature-table__wrapper__body tr:first-child th:first-child {
          background-color: #ffc8d0;
          border-left: none; }
        .c-feature-table__wrapper__body tr:first-child th::before {
          display: none; }
    .c-feature-table__wrapper .disclaimer {
      color: #17313f;
      display: inline-block;
      font-size: 0.875rem;
      padding: 0.625rem 0 0 1.25rem;
      text-transform: none; }

@media (min-width: 768px) {
  .c-feature-table {
    padding: 0 0.3125rem; }
    .c-feature-table__wrapper {
      display: block;
      z-index: 0;
      position: relative;
      width: 100%;
      height: auto;
      top: 0;
      left: 0;
      right: 0; }
      .c-feature-table__wrapper__header {
        background: none;
        border: 0;
        height: auto;
        position: static;
        overflow: visible; }
        .c-feature-table__wrapper__header .left-col {
          display: none; }
        .c-feature-table__wrapper__header .right-col {
          width: 100%;
          padding: 0;
          display: block; }
          .c-feature-table__wrapper__header .right-col .row {
            padding: 0;
            margin: 0; }
          .c-feature-table__wrapper__header .right-col__row {
            display: inline-block;
            height: auto; }
          .c-feature-table__wrapper__header .right-col .table-title {
            color: #17313f;
            font-size: 2.375rem;
            line-height: 2.75rem;
            padding-top: 0.9375rem;
            text-transform: none;
            display: block; }
          .c-feature-table__wrapper__header .right-col .table-description {
            color: #17313f;
            display: inline-block;
            font-size: 1rem;
            line-height: 1.375rem;
            padding: 0.3125rem 0 0.9375rem; }
      .c-feature-table__wrapper__body {
        padding: 0 1.25rem 0 0;
        transform: translateY(0); }
        .c-feature-table__wrapper__body__inner {
          overflow-x: auto;
          transform: translateY(0); }
    .c-feature-table .disclaimer {
      padding: 0.3125rem 0 0 0; }
    .c-feature-table__btn {
      display: none; } }
.c-eLabDociFrame {
  font-family: "imago-book", Arial, sans-serif;
  margin: 10px 0;
  padding: 10px 0 20px; }
  .c-eLabDociFrame__wrapper {
    min-height: 300px;
    position: relative; }
    .c-eLabDociFrame__wrapper iframe {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      min-height: 530px; }

.c-pdp-specs-container {
  margin-top: 3.75rem; }
  @media (min-width: 768px) {
    .c-pdp-specs-container {
      margin-top: 2.375rem; } }

.c-pdp-specs-heading h2 {
  font-size: 1.375rem;
  line-height: 1.75rem;
  color: #17313f; }
  @media (min-width: 768px) {
    .c-pdp-specs-heading h2 {
      float: left;
      font-size: 3rem;
      line-height: 3.375rem;
      width: 74%; } }

.c-pdp-specs-seeall {
  font-size: 1.125rem;
  color: #17313f;
  display: inline-block;
  padding-right: 30px; }
  .c-pdp-specs-seeall a:hover, .c-pdp-specs-seeall a:visited {
    color: #17313f; }
  @media (min-width: 768px) {
    .c-pdp-specs-seeall {
      float: right;
      line-height: 1.5rem;
      text-align: right;
      margin-top: 0.9375rem;
      padding-right: 22px; } }
  @media (max-width: 767px) {
    .c-pdp-specs-seeall {
      margin-top: 1.5625rem;
      line-height: 1.375rem; } }

@media (min-width: 768px) {
  .c-pdp-spec-wrapper {
    margin-top: 2.8125rem;
    width: 94%; } }
@media (max-width: 767px) {
  .c-pdp-spec-wrapper {
    margin-top: 1.4375rem; } }

.c-pdp-spec, .c-pdp-spec-desc {
  font-size: 1rem;
  line-height: 1.375rem;
  margin-bottom: 0px; }

.c-pdp-spec {
  color: #17313f;
  position: relative; }
  @media (min-width: 768px) {
    .c-pdp-spec {
      width: 54%;
      float: left;
      overflow: hidden;
      box-sizing: border-box; } }
  @media (max-width: 767px) {
    .c-pdp-spec {
      margin-bottom: 0.3125rem; } }

@media (min-width: 768px) {
  .c-pdp-spec-line {
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: #9ba4aa;
    position: absolute;
    margin-left: 1.125rem;
    top: 0.6875rem; } }

.c-pdp-spec-desc {
  color: #17313f;
  background-image: url("../../roche.global.publish/images/Oval.png");
  background-repeat: no-repeat;
  background-position: 0 0.34375rem; }
  @media (min-width: 768px) {
    .c-pdp-spec-desc {
      float: left;
      width: 46%;
      padding-left: 2.125rem; } }
  @media (max-width: 767px) {
    .c-pdp-spec-desc {
      padding-left: 1.25rem; } }

@media (min-width: 768px) {
  .c-pdp-spec-label {
    display: inline-block;
    max-width: 80%; } }

@media (min-width: 768px) {
  .c-pdp-spec-item {
    margin-bottom: 0.9375rem; } }
@media (max-width: 767px) {
  .c-pdp-spec-item {
    margin-bottom: 1.4375rem; } }

.c-pdp-specs-list {
  padding-left: 0px;
  list-style-type: none; }

.c-carousel__title {
  font-family: "imago-medium", Arial, sans-serif;
  font-size: 30px;
  line-height: 36px;
  color: #17313f;
  margin: 0 1rem 0; }
.c-carousel__events-content {
  margin-bottom: 0;
  min-height: 536px; }
  .c-carousel__events-content .slick-list {
    position: relative;
    top: 70px; }
  .c-carousel__events-content .slick-dots {
    top: 0;
    margin-top: 2.75rem;
    padding: 5px 16px;
    text-align: left;
    bottom: auto;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap; }
    .c-carousel__events-content .slick-dots::-webkit-scrollbar {
      display: none; }
    .c-carousel__events-content .slick-dots li {
      margin: 0;
      padding: 0 40px; }
      .c-carousel__events-content .slick-dots li button:before {
        font-size: 14px;
        background-color: #ffffff;
        border: 1px solid black;
        border-radius: 50%;
        color: #ffffff;
        width: 7px;
        height: 7px;
        line-height: 7px;
        opacity: 1;
        transition: all 0.2s ease-in;
        font-family: serif; }
      .c-carousel__events-content .slick-dots li.slick-active button:before {
        width: 14px;
        height: 14px;
        color: #90c2ef;
        background-color: #90c2ef;
        top: -3px; }
      .c-carousel__events-content .slick-dots li:before {
        content: "";
        position: absolute;
        left: 6px;
        bottom: 0;
        height: 1px;
        width: 92%;
        border-bottom: 1px solid #B3BBC0;
        top: 16%; }
      .c-carousel__events-content .slick-dots li:last-child {
        padding: 0; }
        .c-carousel__events-content .slick-dots li:last-child:before {
          border-bottom: none; }
      .c-carousel__events-content .slick-dots li:hover button:before {
        width: 14px;
        height: 14px;
        top: -3px; }
@media (max-width: 767px) {
  .c-carousel {
    margin-bottom: 3.75rem; }
    .c-carousel__events-content .slick-dots {
      margin: 0;
      padding: 25px 20px; }
    .c-carousel__events-content .slick-dots li:last-child {
      padding: 0 26px 0 30px; } }
.c-carousel__event-item {
  width: 321px;
  height: 30.625rem;
  border: 1px solid #B3BBC0;
  position: relative; }
  .c-carousel__event-item.slick-slide .c-carousel__event-asset {
    width: 319px;
    height: 189px; }
  .c-carousel__event-item:focus {
    outline: none; }
  .c-carousel__event-item .c-video {
    min-height: auto;
    height: 100%; }
    .c-carousel__event-item .c-video video {
      position: absolute;
      margin: 0;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
.c-carousel__event-content {
  margin: 2.25rem 0 0 1.0625rem;
  max-width: 222px;
  user-select: auto; }
.c-carousel__event-title {
  font-family: "imago-book", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #4a4a4a;
  text-transform: uppercase;
  letter-spacing: 1px; }
  @media (max-width: 767px) {
    .c-carousel__event-title {
      margin-bottom: 1.5rem; } }
.c-carousel__event-description {
  font-family: "imago-book", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #17313f;
  height: 110px;
  overflow: hidden; }
  @media (max-width: 767px) {
    .c-carousel__event-description {
      margin-bottom: 3rem; } }
.c-carousel__event-link {
  font-family: "imago-book", Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  display: inline-block;
  color: #17313f;
  cursor: pointer; }
  @media (max-width: 767px) {
    .c-carousel__event-link {
      margin-bottom: 2.25rem; } }
  .c-carousel__event-link:focus {
    outline: none; }
  .c-carousel__event-link:hover, .c-carousel__event-link:active {
    color: #17313f; }
.c-carousel__secondary-cta {
  margin-left: 12.5px; }
.c-carousel__event-asset__innerWrapper {
  height: 100%; }
@media (min-width: 768px) {
  .c-carousel {
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    width: 748px; }
    .c-carousel__event-content {
      margin: 20px 0 0 16px;
      max-width: 77%; }
    .c-carousel__events-content {
      margin-top: 43px;
      min-height: auto; }
      .c-carousel__events-content .slick-list {
        position: relative;
        top: 0px; }
      .c-carousel__events-content .slick-dots {
        bottom: auto;
        text-align: right;
        right: 10px;
        padding-right: 0;
        overflow-x: hidden; }
        .c-carousel__events-content .slick-dots li {
          padding: 0 18px; }
    .c-carousel__event-title {
      font-size: 12px;
      line-height: 18px; }
    .c-carousel__event-description {
      font-size: 12px;
      line-height: 18px;
      height: 54px; }
    .c-carousel__event-link {
      font-size: 14px;
      line-height: 20px; }
    .c-carousel__event-item.slick-slide {
      visibility: hidden;
      width: 125px;
      height: 251px;
      margin-top: 66px; }
      .c-carousel__event-item.slick-slide .c-carousel__event-description,
      .c-carousel__event-item.slick-slide .c-carousel__event-link {
        visibility: hidden; }
      .c-carousel__event-item.slick-slide .c-carousel__event-asset--cloned {
        position: relative;
        transform: translateY(-100%);
        z-index: -1; }
      .c-carousel__event-item.slick-slide .c-carousel__event-asset,
      .c-carousel__event-item.slick-slide .c-carousel__event-asset--cloned {
        width: 124px;
        height: 121px;
        position: relative; }
        .c-carousel__event-item.slick-slide .c-carousel__event-asset img,
        .c-carousel__event-item.slick-slide .c-carousel__event-asset--cloned img {
          bottom: 0;
          top: 0;
          right: 0;
          position: absolute;
          height: 100%;
          width: auto; }
        .c-carousel__event-item.slick-slide .c-carousel__event-asset .c-video .jp-video-play,
        .c-carousel__event-item.slick-slide .c-carousel__event-asset--cloned .c-video .jp-video-play {
          width: 3rem;
          height: 3rem; }
    .c-carousel__event-item.slick-active {
      visibility: visible; }
    .c-carousel__event-item.slick-active:not(.slick-current) {
      cursor: pointer; }
      .c-carousel__event-item.slick-active:not(.slick-current) .c-carousel__event-asset {
        opacity: 0.6;
        transition: opacity 0.4s ease-in-out; }
      .c-carousel__event-item.slick-active:not(.slick-current):hover .c-carousel__event-asset {
        opacity: 1; }
    .c-carousel__event-item.slick-active + .slick-active {
      border-left: none; }
    .c-carousel__event-item.slick-current {
      height: 317px;
      width: 366px;
      margin-top: 0;
      overflow: hidden; }
      .c-carousel__event-item.slick-current .c-carousel__event-asset,
      .c-carousel__event-item.slick-current .c-carousel__event-asset--cloned {
        width: 364px;
        height: 187px;
        position: relative; }
        .c-carousel__event-item.slick-current .c-carousel__event-asset .c-video .jp-video-play,
        .c-carousel__event-item.slick-current .c-carousel__event-asset--cloned .c-video .jp-video-play {
          width: 5rem;
          height: 5rem; }
      .c-carousel__event-item.slick-current .c-carousel__event-description,
      .c-carousel__event-item.slick-current .c-carousel__event-link {
        visibility: visible; }
    .c-carousel__event-asset__innerWrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden; }
      .c-carousel__event-asset__innerWrapper img {
        left: 50%;
        transform: translateX(-50%); }
    .c-carousel__event-asset img {
      left: 50%;
      transform: translateX(-50%); } }
@media (min-width: 1024px) {
  .c-carousel {
    margin-left: 0.6875rem;
    margin-right: 0.6875rem;
    width: 1002px; }
    .c-carousel__event-content {
      margin: 36px 0 0 24px;
      max-width: 77%; }
    .c-carousel__event-title {
      font-size: 14px;
      line-height: 20px; }
    .c-carousel__event-description {
      font-size: 14px;
      line-height: 20px;
      height: 66px; }
    .c-carousel__event-link {
      font-size: 14px;
      line-height: 22px; }
    .c-carousel__events-content .slick-dots li {
      padding: 0 25px; }
    .c-carousel__event-item.slick-slide {
      width: 167px;
      height: 342px;
      margin-top: 92px; }
      .c-carousel__event-item.slick-slide .c-carousel__event-asset,
      .c-carousel__event-item.slick-slide .c-carousel__event-asset--cloned {
        width: 166px;
        height: 169px; }
        .c-carousel__event-item.slick-slide .c-carousel__event-asset .c-video .jp-video-play,
        .c-carousel__event-item.slick-slide .c-carousel__event-asset--cloned .c-video .jp-video-play {
          width: 3rem;
          height: 3rem; }
    .c-carousel__event-item.slick-current {
      height: 434px;
      width: 501px;
      margin-top: 0; }
      .c-carousel__event-item.slick-current .c-carousel__event-asset,
      .c-carousel__event-item.slick-current .c-carousel__event-asset--cloned {
        height: 261px;
        width: 499px; }
        .c-carousel__event-item.slick-current .c-carousel__event-asset .c-video .jp-video-play,
        .c-carousel__event-item.slick-current .c-carousel__event-asset--cloned .c-video .jp-video-play {
          width: 5rem;
          height: 5rem; }
      .c-carousel__event-item.slick-current .c-carousel__event-description,
      .c-carousel__event-item.slick-current .c-carousel__event-link {
        visibility: visible; } }
@media (min-width: 1200px) {
  .c-carousel {
    margin-left: auto;
    margin-right: auto;
    width: 1201px; }
    .c-carousel__title {
      font-family: "imago-book", Arial, sans-serif;
      font-size: 38px;
      line-height: 44px;
      color: #17313f;
      margin: 0 0 0; }
    .c-carousel__events-content .slick-list {
      position: relative;
      top: auto; }
    .c-carousel__events-content .slick-dots {
      top: 0;
      margin-top: 2.75rem;
      bottom: auto; }
      .c-carousel__events-content .slick-dots li {
        padding: 0 30px; }
    .c-carousel__event-content {
      margin: 40px 0 0 27.5px;
      max-width: 77%; }
      .c-carousel__event-content .slick-list {
        position: relative;
        top: 0px; }
      .c-carousel__event-content .slick-dots {
        bottom: auto; }
    .c-carousel__event-title {
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 1px; }
    .c-carousel__event-description {
      font-size: 16px;
      line-height: 22px;
      color: #17313f; }
    .c-carousel__event-link {
      font-family: "imago-book", Arial, sans-serif;
      font-size: 18px;
      line-height: 24px; }
    .c-carousel__event-item.slick-slide {
      visibility: hidden;
      width: 204px;
      height: 403px;
      margin-top: 104px; }
      .c-carousel__event-item.slick-slide .c-carousel__event-asset,
      .c-carousel__event-item.slick-slide .c-carousel__event-asset--cloned {
        width: 203px;
        height: 196px;
        position: relative; }
        .c-carousel__event-item.slick-slide .c-carousel__event-asset img,
        .c-carousel__event-item.slick-slide .c-carousel__event-asset--cloned img {
          bottom: 0;
          top: 0;
          right: 0;
          position: absolute;
          height: 100%;
          width: auto; }
        .c-carousel__event-item.slick-slide .c-carousel__event-asset .c-video .jp-video-play,
        .c-carousel__event-item.slick-slide .c-carousel__event-asset--cloned .c-video .jp-video-play {
          width: 3rem;
          height: 3rem; }
    .c-carousel__event-item.slick-active {
      visibility: visible; }
    .c-carousel__event-item.slick-active + .slick-active {
      border-left: none; }
    .c-carousel__event-item.slick-current {
      height: 507px;
      width: 586px;
      margin-top: 0;
      overflow: hidden; }
      .c-carousel__event-item.slick-current .c-carousel__event-asset,
      .c-carousel__event-item.slick-current .c-carousel__event-asset--cloned {
        width: 584px;
        height: 300px;
        position: relative; }
        .c-carousel__event-item.slick-current .c-carousel__event-asset .c-video .jp-video-play,
        .c-carousel__event-item.slick-current .c-carousel__event-asset--cloned .c-video .jp-video-play {
          width: 5rem;
          height: 5rem; } }

.t-prod-listing .search-results-tab {
  min-height: 300px; }
.t-prod-listing .prod-listing-container,
.t-prod-listing .prod-listing-container__fw {
  min-height: 300px; }
.t-prod-listing .filter-list-container {
  width: 50%;
  position: relative;
  float: left; }
@media (max-width: 767px) {
  .t-prod-listing .sorting-list-container {
    width: 50%;
    float: left; }
  .t-prod-listing .t-prod-result-text {
    padding: 1.5rem 1rem; } }
@media (min-width: 768px) {
  .t-prod-listing .c-page-title,
  .t-prod-listing .c-headline-body {
    margin-top: 3.75rem;
    margin-bottom: 3.75rem; } }
.t-prod-listing .prod-search-results-tile {
  text-align: center; }
  @media (min-width: 768px) {
    .t-prod-listing .prod-search-results-tile .sorting-list-container {
      padding-top: 0;
      padding-bottom: 0; } }
.t-prod-listing .prod-search-results-tile {
  border-top: 1px solid #B3BBC0;
  border-bottom: 1px solid #B3BBC0; }
@media (min-width: 768px) {
  .t-prod-listing .prod-search-results-tile {
    padding: 1.5rem 0rem 1.5rem 6.375rem;
    text-align: left; }
  .t-prod-listing .prod-filter-container {
    float: left;
    width: 255px;
    border-top: 1px solid #B3BBC0; }
  .t-prod-listing .prod-search-results-tile,
  .t-prod-listing .prod-listing-container {
    float: right;
    width: calc(100% - 255px);
    border-left: 1px solid #9ba4aa; }
  .t-prod-listing .prod-listing-container__fw {
    margin: 0 9.46875rem; }
  .t-prod-listing .sorting-list-container {
    float: right;
    clear: left; }
    .t-prod-listing .sorting-list-container.sorting-list-container--margin {
      padding: 1.5rem 0; } }
.t-prod-listing .c-plp-filters {
  display: block;
  color: #17313f;
  font-family: Imago;
  font-size: 14px;
  line-height: 16px;
  padding: 5px;
  margin-left: 3rem; }
.t-prod-listing .c-plp-filters-title {
  display: block;
  color: #17313f;
  font-family: Imago;
  font-size: 16px;
  line-height: 1;
  padding: 5px;
  margin-left: 3rem;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 10px; }
.t-prod-listing__count {
  /** Not required in most cases as we're writing mobile-first*/ }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .t-prod-listing__count {
      display: block; } }
.t-prod-listing__filter-container {
  width: 255px;
  display: inline-block;
  border-top: 1px solid #B3BBC0; }

.c-listingTile {
  padding: 0;
  margin: 0; }
  .c-listingTile__list {
    list-style: none; }
    .c-listingTile__list:last-child .c-listingTile__link {
      border-bottom: none; }
  .c-listingTile__link {
    display: block;
    border-bottom: 2px solid #F3F4F5; }
    @media (min-width: 768px) {
      .c-listingTile__link {
        border-bottom: none; } }
  .c-listingTile__productWrapper {
    display: flex;
    align-items: center;
    padding: 24px 10px; }
    .c-listingTile__productWrapper::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 0;
      height: 100%;
      transition: all 0.3s ease-in;
      -webkit-transition: all 0.3s ease-in;
      background: #fde4ea;
      /* The Fallback */
      background: rgba(253, 228, 234, 0.3); }
    .c-listingTile__productWrapper:hover::before {
      width: 100%; }
    @media (min-width: 768px) {
      .c-listingTile__productWrapper {
        display: block;
        padding: 2.1875rem 4.875rem 2.1875rem 6.375rem; } }
  .c-listingTile__productContent {
    padding: 0;
    align-self: stretch;
    display: flex;
    align-items: center;
    margin-right: 28px; }
    @media (min-width: 768px) {
      .c-listingTile__productContent {
        display: block;
        margin-right: 7.875rem; } }
  .c-listingTile__productContentWrapper {
    width: 230px; }
    @media (max-width: 767px) {
      .c-listingTile__productContentWrapper {
        word-wrap: break-word; } }
    @media (min-width: 768px) {
      .c-listingTile__productContentWrapper {
        width: 30.375rem; } }
  .c-listingTile__productTitle {
    display: block;
    font-size: 18px;
    line-height: 22px;
    color: #17313f; }
    @media (min-width: 768px) {
      .c-listingTile__productTitle {
        font-size: 1.375rem;
        line-height: 1.625rem; } }
  .c-listingTile__productCategory {
    display: block;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    opacity: 0.65;
    color: #17313f;
    text-transform: uppercase;
    margin-top: 6px; }
    @media (min-width: 768px) {
      .c-listingTile__productCategory {
        opacity: 1; } }
  .c-listingTile__productAsset {
    padding: 0;
    align-self: stretch;
    display: flex;
    align-items: center; }
    .c-listingTile__productAsset img {
      height: 72px;
      width: auto; }

.c-featuredTile__list {
  list-style: none;
  margin: 0; }
  .c-featuredTile__list:last-child .c-featuredTile__link {
    border-bottom: none; }
  @media (min-width: 768px) {
    .c-featuredTile__list:last-child {
      padding-bottom: 3.25rem; } }
.c-featuredTile__link {
  display: flex;
  border-bottom: 2px solid #F3F4F5; }
  @media (min-width: 768px) {
    .c-featuredTile__link {
      display: block;
      border-bottom: none; } }
.c-featuredTile__productWrapper {
  padding: 48px 16px; }
  .c-featuredTile__productWrapper::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    background: #fde4ea;
    /* The Fallback */
    background: rgba(253, 228, 234, 0.3); }
  .c-featuredTile__productWrapper:hover::before {
    width: 100%; }
  @media (min-width: 768px) {
    .c-featuredTile__productWrapper {
      display: block;
      padding: 3.25rem 0rem 0rem 6.125rem; } }
.c-featuredTile__productContent {
  padding: 0; }
  @media (min-width: 768px) {
    .c-featuredTile__productContent {
      display: block; } }
.c-featuredTile__productTitle {
  display: block;
  font-size: 18px;
  line-height: 22px;
  color: #17313f; }
  @media (min-width: 768px) {
    .c-featuredTile__productTitle {
      font-size: 1.375rem;
      line-height: 1.625rem; } }
.c-featuredTile__productCategory {
  display: block;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  opacity: 0.52;
  color: #17313f;
  text-transform: uppercase;
  margin-top: 24px; }
  @media (min-width: 768px) {
    .c-featuredTile__productCategory {
      opacity: 1;
      margin-top: 0.75rem; } }
.c-featuredTile__productAsset {
  padding: 0;
  margin-bottom: 36px; }
  .c-featuredTile__productAsset img {
    height: 92px;
    width: auto; }
    @media (min-width: 768px) {
      .c-featuredTile__productAsset img {
        height: 216px; } }
  @media (min-width: 768px) {
    .c-featuredTile__productAsset {
      margin-bottom: 3.25rem; } }

.c-listingWrapper {
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  width: 100%; }
  .c-listingWrapper::-webkit-scrollbar {
    display: none; }
  .c-listingWrapper .no-result {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 3.125rem; }
  .c-listingWrapper .loading-icon {
    top: auto;
    bottom: 0; }
  @media (max-width: 767px) {
    .c-listingWrapper .c-listingtile {
      padding-left: 1rem;
      padding-right: 1rem; } }
  @media (min-width: 768px) {
    .c-listingWrapper .c-listingtile {
      padding-left: 2.625rem;
      padding-right: 2.625rem; } }
  @media (min-width: 992px) {
    .c-listingWrapper .c-listingtile {
      padding-left: 3.375rem;
      padding-right: 3.375rem; } }
  @media (min-width: 1200px) {
    .c-listingWrapper .c-listingtile {
      padding-left: 3rem;
      padding-right: 3rem; } }
  @media (min-width: 1440px) {
    .c-listingWrapper .c-listingtile {
      padding-left: 1rem;
      padding-right: 1rem; } }

.c-pdp-summary-desc .x-text * {
  font-family: "imago-book", Arial, sans-serif;
  color: #17313f;
  font-size: 1rem;
  line-height: 1.375rem; }
@media (min-width: 768px) {
  .c-pdp-summary-desc .x-h6 {
    width: 30%;
    float: left;
    font-family: "imago-book", Arial, sans-serif; }
  .c-pdp-summary-desc .x-text {
    width: 53%;
    float: right; } }
@media (max-width: 767px) {
  .c-pdp-summary-desc .x-h6 {
    font-size: 1.375rem;
    line-height: 1.75rem; }
  .c-pdp-summary-desc .x-text {
    margin-top: 3rem; } }

@media (min-width: 768px) {
  .c-pdp-summary-desc.c-pdp-summary__col-layout .x-h6 {
    width: 100%;
    float: none; }
  .c-pdp-summary-desc.c-pdp-summary__col-layout .x-text {
    width: 100%;
    float: none;
    margin-top: 0.9375rem; } }

.t-search-listing__search-row {
  width: 100%;
  /** Not required in most cases as we're writing mobile-first*/ }
  @media only screen and (min-width: 768px) {
    .t-search-listing__search-row {
      display: table;
      background-color: #0066cc; } }
.t-search-listing .search-results-tab-component {
  padding: 0;
  margin: 0;
  vertical-align: middle;
  padding-right: 1rem;
  /** Not required in most cases as we're writing mobile-first*/ }
  @media only screen and (min-width: 768px) {
    .t-search-listing .search-results-tab-component {
      display: table-cell;
      background-color: #0066cc; } }
.t-search-listing + .c-footer {
  /** Not required in most cases as we're writing mobile-first*/ }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .t-search-listing + .c-footer {
      margin-top: 0; } }

.t-search-listing .search-results-tab-component {
  padding-right: 0;
  /** Not required in most cases as we're writing mobile-first*/
  /** Not required in most cases as we're writing mobile-first*/ }
  @media only screen and (min-width: 768px) {
    .t-search-listing .search-results-tab-component {
      width: 1%;
      white-space: nowrap; }
      .t-search-listing .search-results-tab-component .c-tabs-container {
        border: 0;
        margin: 0; }
        .t-search-listing .search-results-tab-component .c-tabs-container .c-tabs-list {
          top: 0;
          width: 100%;
          text-align: right; }
          .t-search-listing .search-results-tab-component .c-tabs-container .c-tabs-list li.c-tab-list-item {
            width: 16.75rem;
            background-color: #0066cc;
            border-color: #ffffff; }
            .t-search-listing .search-results-tab-component .c-tabs-container .c-tabs-list li.c-tab-list-item:hover {
              background-color: #c8e0f7;
              border-color: #9ba4aa; }
              .t-search-listing .search-results-tab-component .c-tabs-container .c-tabs-list li.c-tab-list-item:hover a {
                color: #17213f; }
            .t-search-listing .search-results-tab-component .c-tabs-container .c-tabs-list li.c-tab-list-item.selected, .t-search-listing .search-results-tab-component .c-tabs-container .c-tabs-list li.c-tab-list-item.selected:hover {
              background-color: #ffffff; }
              .t-search-listing .search-results-tab-component .c-tabs-container .c-tabs-list li.c-tab-list-item.selected a, .t-search-listing .search-results-tab-component .c-tabs-container .c-tabs-list li.c-tab-list-item.selected:hover a {
                color: #18303f; }
            .t-search-listing .search-results-tab-component .c-tabs-container .c-tabs-list li.c-tab-list-item a {
              color: #ffffff;
              opacity: 1; }
              .t-search-listing .search-results-tab-component .c-tabs-container .c-tabs-list li.c-tab-list-item a:hover {
                color: #ffffff; } }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .t-search-listing .search-results-tab-component {
      padding: 0; }
      .t-search-listing .search-results-tab-component .c-tabs-container {
        line-height: 0; }
        .t-search-listing .search-results-tab-component .c-tabs-container .c-tabs-list {
          margin-bottom: 0;
          padding: 0; }
          .t-search-listing .search-results-tab-component .c-tabs-container .c-tabs-list li.c-tab-list-item {
            width: 33%;
            padding-left: 0;
            padding-right: 0; } }
.t-search-listing .c-search-results-bar {
  padding-right: 3.125rem;
  /** Not required in most cases as we're writing mobile-first*/ }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .t-search-listing .c-search-results-bar {
      padding: 0; } }

@media (min-width: 768px) {
  .c-sort-Bar {
    max-width: 15.125rem; } }
.c-sort-Bar .x-liipbox__top-section {
  border-bottom: 1px solid rgba(23, 49, 63, 0.2); }
.c-sort-Bar .x-liipbox__left-s {
  border-right: 1px solid rgba(23, 49, 63, 0.2); }
.c-sort-Bar .x-liipbox__right-s {
  float: none;
  position: absolute;
  text-transform: uppercase;
  padding: 17px; }
.c-sort-Bar .x-liipbox .navbar-toggle .icon-bar {
  background-color: #9ba4aa; }
.c-sort-Bar .c-sort-title {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px; }
.c-sort-Bar .c-sort-dropdown {
  position: relative;
  font-size: 0.75rem;
  letter-spacing: 2px;
  line-height: 16px;
  font-family: "imago-light", Arial, sans-serif;
  color: #17313f;
  text-transform: uppercase; }
  @media (min-width: 768px) and (max-width: 1024px) {
    .c-sort-Bar .c-sort-dropdown {
      margin-right: 0.125rem; } }
  .c-sort-Bar .c-sort-dropdown .c-sort-down-arrow {
    position: absolute;
    border: solid #17313f;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 0.1875rem;
    right: 17px;
    top: 12px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg); }
    .c-sort-Bar .c-sort-dropdown .c-sort-down-arrow.c-sort-up-arrow {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
      top: 15px; }
    @media (max-width: 767px) {
      .c-sort-Bar .c-sort-dropdown .c-sort-down-arrow {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        border: solid #9ba4aa;
        border-width: 0 1px 1px 0; } }
  .c-sort-Bar .c-sort-dropdown .c-sort-dropdown--input {
    width: 100%;
    border: 1px solid #17313f;
    padding: 0.5rem 0.9375rem;
    background: #ffffff;
    font-size: 0.75rem;
    letter-spacing: 2px;
    line-height: 16px;
    font-family: "imago-light", Arial, sans-serif;
    color: #17313f;
    text-transform: uppercase; }
    @media (max-width: 767px) {
      .c-sort-Bar .c-sort-dropdown .c-sort-dropdown--input {
        border: 1px solid rgba(23, 49, 63, 0.2); } }
  .c-sort-Bar .c-sort-dropdown .c-sort-dropdown--container {
    border: 1px solid #17313f;
    border-top: none;
    position: absolute;
    width: 100%;
    z-index: 10;
    background: #ffffff; }
    @media (max-width: 767px) {
      .c-sort-Bar .c-sort-dropdown .c-sort-dropdown--container {
        border: 1px solid rgba(23, 49, 63, 0.2); } }
    .c-sort-Bar .c-sort-dropdown .c-sort-dropdown--container ul {
      list-style: none;
      padding: 0;
      margin: 0;
      border-right: 20px solid #ffffff;
      padding: 0.75rem 0rem 0.75rem 0.9375rem;
      max-height: 230px;
      overflow-y: auto; }
      .c-sort-Bar .c-sort-dropdown .c-sort-dropdown--container ul::-webkit-scrollbar {
        width: 5px; }
      .c-sort-Bar .c-sort-dropdown .c-sort-dropdown--container ul::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
        color: #ffffff;
        background-color: #ffffff;
        height: 10px; }
      .c-sort-Bar .c-sort-dropdown .c-sort-dropdown--container ul li {
        padding: 0.75rem 0; }
        .c-sort-Bar .c-sort-dropdown .c-sort-dropdown--container ul li.active {
          outline-width: 1px;
          outline-style: solid;
          outline-color: Highlight;
          margin-right: 2px; }
  .c-sort-Bar .c-sort-dropdown.j-open .c-sort-dropdown--input {
    background: #fdcad6; }
.c-sort-Bar .c-sort-dropdown-mobile {
  display: block;
  background: #ffffff;
  z-index: 99999;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  overflow-y: scroll; }
  .c-sort-Bar .c-sort-dropdown-mobile .c-top-section {
    border-bottom: 1px solid #9ba4aa;
    height: 60px; }
    .c-sort-Bar .c-sort-dropdown-mobile .c-top-section .x-liipbox {
      overflow: hidden; }
    .c-sort-Bar .c-sort-dropdown-mobile .c-top-section .c-left-s {
      width: auto;
      padding: 1.25rem; }
    .c-sort-Bar .c-sort-dropdown-mobile .c-top-section .c-right-s {
      width: 60px;
      height: 60px;
      border-left: 1px solid #9ba4aa; }
  .c-sort-Bar .c-sort-dropdown-mobile .c-sort-overlay {
    text-align: left; }
  .c-sort-Bar .c-sort-dropdown-mobile .c-content-section {
    height: auto;
    margin: 8px 16px 20px 16px; }
    .c-sort-Bar .c-sort-dropdown-mobile .c-content-section ul {
      padding: 0;
      list-style: none; }
      .c-sort-Bar .c-sort-dropdown-mobile .c-content-section ul li {
        padding-top: 24px;
        position: relative; }
        .c-sort-Bar .c-sort-dropdown-mobile .c-content-section ul li::last-child {
          padding-bottom: 24px; }
        .c-sort-Bar .c-sort-dropdown-mobile .c-content-section ul li input[type="radio"] {
          width: 16px;
          height: 16px;
          margin: 0;
          cursor: default;
          opacity: 0; }
          .c-sort-Bar .c-sort-dropdown-mobile .c-content-section ul li input[type="radio"] + .customRadio {
            display: inline-block;
            width: 7px;
            height: 7px;
            background-color: #ffffff;
            margin: 0 0 0 -16px;
            border-radius: 50%;
            border: 1px solid rgba(23, 49, 63, 0.4);
            pointer-events: none;
            position: absolute;
            top: 32px; }
          .c-sort-Bar .c-sort-dropdown-mobile .c-content-section ul li input[type="radio"]:checked + .customRadio {
            background-color: #90c2ef;
            border: 1px solid #17313f; }
        .c-sort-Bar .c-sort-dropdown-mobile .c-content-section ul li .text {
          margin-left: 5px; }
        .c-sort-Bar .c-sort-dropdown-mobile .c-content-section ul li .customCheckbox {
          display: none; }

.prod-listing-container .remove-right-margin {
  margin-right: 0; }

.t-prod-listing .sorting-list-container-padding {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.prod-listing-container .sorting-list-container-padding {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

@media (max-width: 767px) {
  .t-prod-listing .sorting-list-container-padding {
    padding: 0; }

  .prod-listing-container .sorting-list-container-padding {
    padding: 0; } }
.c-contact-form {
  font-family: "imago-book", Arial, sans-serif;
  color: #17313f; }
  .c-contact-form .guide-header-bar-wrapper,
  .c-contact-form .mobileLayout.step,
  .c-contact-form .guideTextBox.action {
    display: none; }
  .c-contact-form .panel {
    box-shadow: none; }
  .c-contact-form__form-title {
    padding: 12px 16px 0 16px;
    font-family: "imago-book", Arial, sans-serif;
    border-bottom: 1px solid #9ba4aa; }
    .c-contact-form__form-title h1 {
      font-size: 1.875rem;
      font-weight: bold;
      line-height: 2.25rem;
      color: #17313f; }
    .c-contact-form__form-title .title {
      margin-left: 0; }
  .c-contact-form .multiline.textField textArea {
    resize: none;
    height: 40px;
    padding-top: 0.3125rem; }
  .c-contact-form .guideFieldWidget input[type="text"],
  .c-contact-form .guideFieldWidget textarea {
    border: none;
    border-bottom: 1px solid #9ba4aa;
    padding: 0;
    border-radius: 0;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #17313f; }
    .c-contact-form .guideFieldWidget input[type="text"]::placeholder,
    .c-contact-form .guideFieldWidget textarea::placeholder {
      color: #17313f; }
    .c-contact-form .guideFieldWidget input[type="text"]:focus,
    .c-contact-form .guideFieldWidget textarea:focus {
      outline: none; }
  .c-contact-form .subheadline {
    padding: 0 16px;
    color: #17313f;
    font-size: 0.75rem;
    line-height: 1.5rem;
    margin-top: 1.75rem; }
  .c-contact-form .guideTextDraw.guideformtitle {
    margin-top: 1.875rem;
    font-size: 1.375rem;
    line-height: 1.75rem;
    color: #17313f;
    padding-left: 0; }
    .c-contact-form .guideTextDraw.guideformtitle:focus {
      outline: none; }
  .c-contact-form .guideFieldNode:not(.guideButton):not(.guideTextDraw):not(.guideChart) {
    margin-right: 0.25rem; }
  .c-contact-form .dropDownList {
    margin-top: 0.75rem;
    position: relative; }
    .c-contact-form .dropDownList:after {
      content: ' ';
      position: absolute;
      border: solid #9ba4aa;
      border-width: 0 1px 1px 0;
      display: inline-block;
      padding: 0.1875rem;
      right: 15px;
      top: 20px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      pointer-events: none; }
  .c-contact-form .dropDownList select {
    font-size: 1rem;
    line-height: 1.375rem;
    color: #4a4a4a;
    border: 1px solid #17313f;
    height: 52px;
    -webkit-appearance: none;
    -moz-appearance: none; }
    .c-contact-form .dropDownList select::-ms-expand {
      display: none; }
  .c-contact-form .guidetextbox.guidefield,
  .c-contact-form .guidenumericbox.guidefield {
    margin-top: 0.9375rem; }
  .c-contact-form .guidecheckbox.guidefield {
    margin-top: 1.25rem; }
  .c-contact-form .guideFieldLabel label {
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #17313f; }
  .c-contact-form button.submit:not(.af-icon-button) {
    border: 1px solid #17313f;
    background-color: #c8e0f7;
    border-radius: 0;
    width: 91.5%;
    height: 52px;
    display: block;
    margin: 0 auto;
    color: #17313f;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    line-height: 1.125rem;
    margin-top: 1.5625rem; }
    .c-contact-form button.submit:not(.af-icon-button):hover {
      opacity: 0.65;
      background: #c8e0f7; }
  .c-contact-form .guideCheckBoxItem .guideFieldWidget input[type="checkbox"]:focus {
    outline: none; }
  .c-contact-form .guideCheckBoxGroupItems {
    position: relative; }
  .c-contact-form .guideCheckBoxItem .guideWidgetLabel label {
    margin-left: 2.1875rem;
    font-size: 1.125rem;
    line-height: 1.375rem;
    color: #17313f; }
    .c-contact-form .guideCheckBoxItem .guideWidgetLabel label:after {
      width: 30px;
      height: 30px;
      content: " ";
      border: 1px solid #17313f;
      background-color: #c8e0f7;
      display: inline-block;
      visibility: visible;
      position: absolute;
      left: 0;
      top: 4px; }
  .c-contact-form .guideCheckBoxItem .guideWidgetLabel label.js-checked:after {
    content: "\2714";
    font-size: 1.25rem;
    text-align: center; }
  .c-contact-form__support-section {
    font-family: "imago-book", Arial, sans-serif;
    color: #17313f;
    font-size: 1rem;
    line-height: 1.25rem;
    margin-top: 3rem; }
    .c-contact-form__support-section h2 {
      font-size: 2rem;
      line-height: 1.75rem;
      margin-bottom: 2rem; }
    .c-contact-form__support-section .title {
      padding: 0 1rem; }
    .c-contact-form__support-section .support-alignment {
      width: 100%;
      margin-left: 0; }
    @media (max-width: 767px) {
      .c-contact-form__support-section .x-rte-wrapper {
        padding-left: 1rem;
        padding-right: 1rem; } }
  .c-contact-form .popover.hint-text {
    color: #18303f;
    background-color: #F5F6F9;
    border-color: #B3BBC0;
    border-radius: 0;
    width: 250px; }
    .c-contact-form .popover.hint-text.top {
      margin-top: -15px; }
      .c-contact-form .popover.hint-text.top .arrow {
        border-top-color: #B3BBC0; }
        .c-contact-form .popover.hint-text.top .arrow:after {
          border-top-color: #F5F6F9; }
  .c-contact-form .guideHelpQuestionMark {
    display: none; }
  .c-contact-form .x-hint-btn {
    display: block;
    position: absolute;
    bottom: 5px;
    right: 16px; }
    @media (max-width: 767px) {
      .c-contact-form .x-hint-btn {
        bottom: 16px; } }
  .c-contact-form .guidedropdownlist .x-hint-btn {
    bottom: 57px; }
    @media (max-width: 767px) {
      .c-contact-form .guidedropdownlist .x-hint-btn {
        bottom: 70px; } }
  .c-contact-form .guidedropdownlist .guideFieldNode.validation-failure .x-hint-btn {
    bottom: 79px; }
  .c-contact-form .guideFieldNode.validation-failure .x-hint-btn {
    bottom: 32px; }
  .c-contact-form .guideFieldError {
    color: #fa5252;
    font-size: 0.75rem;
    line-height: 0.9375rem; }
  .c-contact-form .guideFieldNode.validation-failure:not(.guideButton):not(.guideTextDraw) {
    background: none;
    border-color: #ffffff; }
  .c-contact-form .guideFieldNode.validation-success:not(.guideButton):not(.guideTextDraw) {
    background: none;
    border-color: #ffffff; }
  .c-contact-form .guideFieldNode.validation-failure input {
    border-bottom: 4px solid #fa5252; }
  .c-contact-form .guideFieldNode.validation-failure .dropDownList select,
  .c-contact-form .guideFieldNode.validation-failure .guideCheckBoxItem label:after {
    border: 4px solid #fa5252; }
  .c-contact-form .guideFieldNode.validation-failure .dropDownList select:focus {
    outline: none; }
  .c-contact-form .c-page-notification .CTA-link {
    display: none; }
  .c-contact-form .guidetextbox .guideFieldLabel label,
  .c-contact-form .guidenumericbox .guideFieldLabel label {
    top: 1.25rem;
    position: absolute;
    z-index: 9;
    transition: 0.2s; }
  .c-contact-form .js-active .guideFieldLabel label {
    top: -0.3125rem;
    font-size: 0.75rem; }
  .c-contact-form .guidecheckbox .guideActiveField label:after {
    outline: auto; }
  .c-contact-form .guidecheckbox .guideActiveField.validation-failure label:after {
    outline: none; }
  .c-contact-form .guidetextbox .js-active.validation-failure label,
  .c-contact-form .guidenumericbox .js-active.validation-failure label,
  .c-contact-form .guidedropdownlist .validation-failure label {
    color: #fa5252; }
  .c-contact-form #loadingPage {
    display: none; }
  .c-contact-form .g-recaptcha {
    margin: 2.1875rem 0.9375rem 0.9375rem; }
  .c-contact-form .captcha-error {
    margin-left: 0.9375rem; }

@media (min-width: 768px) {
  .c-contact-form__form-title {
    padding: 0 3.125rem; }
    .c-contact-form__form-title h1 {
      font-size: 4rem;
      line-height: 4.25rem; }
  .c-contact-form .guideContainerWrapperNode.guideContainerNode {
    width: 100%;
    padding-left: 2.125rem;
    position: relative; }
  .c-contact-form .guideTextDraw.guideformtitle {
    margin-top: 3rem;
    padding-left: 1rem;
    font-size: 2rem;
    line-height: 2.375rem;
    width: 100%; }
  .c-contact-form__support-section h2 {
    font-size: 2rem;
    line-height: 1.375rem; }
  .c-contact-form__support-section .x-rte-wrapper p {
    font-size: 0.875rem; }
  .c-contact-form .dropDownList {
    margin-top: 0; }
  .c-contact-form .guideDropDownList .guideFieldLabel label {
    font-size: 1.375rem;
    line-height: 1.625rem;
    margin-top: 0.9375rem; }
  .c-contact-form .c-contact-form .dropDownList {
    margin-top: 0; }
  .c-contact-form .subheadline {
    position: absolute;
    top: -4.25rem;
    right: 0; }
  .c-contact-form .guidetextbox.guidefield,
  .c-contact-form .guidenumericbox.guidefield {
    margin-top: 1.125rem; }
  .c-contact-form .guideFieldWidget input[type="text"],
  .c-contact-form .guideCheckBoxItem .guideWidgetLabel label,
  .c-contact-form .guideFieldWidget textarea {
    font-size: 1.375rem;
    line-height: 1.625rem; }
  .c-contact-form .guidecheckbox.guidefield {
    margin-top: 1.5rem; }
  .c-contact-form button.submit:not(.af-icon-button) {
    margin: 1.875rem 0 0 1rem;
    max-width: 268px; }
  .c-contact-form .guidetextbox .guideFieldLabel label,
  .c-contact-form .guidenumericbox .guideFieldLabel label {
    top: 0.9375rem; }
  .c-contact-form .js-active .guideFieldLabel label {
    top: -0.3125rem; }
  .c-contact-form .x-hint-btn {
    right: -20px;
    bottom: 2px; }
  .c-contact-form .guideFieldNode.validation-failure .x-hint-btn {
    bottom: 18px; }
  .c-contact-form .guidedropdownlist .x-hint-btn {
    bottom: 18px; }
  .c-contact-form .guidedropdownlist .guideFieldNode.validation-failure .x-hint-btn {
    bottom: 34px; } }
@media (min-width: 992px) {
  .c-contact-form .guidetextbox .guideFieldLabel label,
  .c-contact-form .guidenumericbox .guideFieldLabel label {
    top: 2.25rem; }
  .c-contact-form .js-active .guideFieldLabel label {
    top: 0.625rem; }
  .c-contact-form__support-section h2 {
    font-size: 2rem; }
  .c-contact-form__support-section .x-rte-wrapper p {
    font-size: 1rem; }
  .c-contact-form .x-hint-btn {
    bottom: 3px; }
  .c-contact-form .guideFieldNode.validation-failure .x-hint-btn {
    bottom: 20px; }
  .c-contact-form .guidedropdownlist .x-hint-btn {
    bottom: 20px; }
  .c-contact-form .guidedropdownlist .guideFieldNode.validation-failure .x-hint-btn {
    bottom: 41px; } }
.c-socialfeed {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #9ba4aa; }
  .c-socialfeed__header {
    padding: 1.5rem 0.9375rem 1.5rem 6.125rem;
    border-bottom: 1px solid #9ba4aa;
    font-family: arial;
    font-family: "imago-light", Arial, sans-serif;
    font-size: 1.5em;
    color: #17313f;
    background: url("../../roche.global.publish/images/Twitter.svg") no-repeat 1.5rem center;
    background-size: 40px 40px; }
  .c-socialfeed__content {
    max-height: 770px;
    padding: 1.625rem 0.375rem;
    overflow-y: auto;
    overflow-x: hidden; }
    .c-socialfeed__content iframe:nth-child(2) {
      margin-right: 150%;
      margin-left: -150%; }
  @media (max-width: 767px) {
    .c-socialfeed {
      border-width: 1px 0; } }
  @media (min-width: 768px) {
    .c-socialfeed__header {
      background-position: 1.75rem center; }
    .c-socialfeed__content {
      padding: 2.625rem 5.5rem; } }

@media (max-width: 767px) {
  .x-outer-margins.c-socialfeed-wrapper {
    padding: 0; } }

@media (max-width: 767px) {
  .c-gallery {
    padding: 0; } }
.c-gallery img {
  -webkit-transition: opacity .5s ease;
  -o-transition: opacity .5s ease;
  transition: opacity .5s ease; }
.c-gallery__wrapper {
  margin: 0 auto;
  padding: 0; }
  @media (min-width: 768px) {
    .c-gallery__wrapper {
      display: inline-block;
      margin-top: 3rem;
      padding: 0 0.125rem; } }
@media (max-width: 767px) {
  .c-gallery__column-wrapper {
    margin-bottom: 1rem; } }
@media (min-width: 768px) {
  .c-gallery__column-wrapper {
    width: 24.5%;
    padding: 0rem 0.75rem 0rem 0rem;
    margin-top: 4.375rem; } }
@media (min-width: 1024px) {
  .c-gallery__column-wrapper {
    margin-top: 5.75rem; } }
@media (min-width: 1200px) {
  .c-gallery__column-wrapper {
    margin-top: 7.5rem; } }
@media (max-width: 767px) {
  .c-gallery__wrapper--one {
    padding-right: 8px; } }
@media (min-width: 768px) {
  .c-gallery__wrapper--one {
    margin-bottom: 1.5rem; } }
@media (max-width: 767px) {
  .c-gallery__wrapper--two {
    padding-left: 8px; } }
@media (min-width: 768px) {
  .c-gallery__top-wrapper {
    padding: 0rem 0rem 0rem 0.75rem;
    margin-bottom: 1.5rem; } }
.c-gallery__img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 102, 204, 0.87); }
  @media (min-width: 768px) {
    .c-gallery__img-overlay {
      margin-right: 0.75rem; } }
.c-gallery__img-title {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  color: #ffffff;
  width: 100%;
  text-align: center; }
  @media (max-width: 767px) {
    .c-gallery__img-title {
      font-size: 1.875rem;
      line-height: 2.25rem; } }
  @media (min-width: 768px) {
    .c-gallery__img-title {
      font-size: 2rem;
      line-height: 2.375rem; } }
.c-gallery__wrapper--three {
  position: relative; }
  @media (max-width: 767px) {
    .c-gallery__wrapper--three {
      display: inline-block;
      width: 100%;
      margin-bottom: 1rem; } }
  @media (min-width: 768px) {
    .c-gallery__wrapper--three {
      padding: 0rem 0.75rem 0rem 0rem;
      animation-delay: 0.4s;
      width: 55.6%; } }
@media (max-width: 767px) {
  .c-gallery__wrapper--five {
    padding-right: 0.5rem; } }
@media (min-width: 768px) {
  .c-gallery__wrapper--five {
    padding: 0rem 0rem 0rem 1rem;
    width: 44.4%;
    position: absolute;
    bottom: 0;
    right: 0;
    animation-delay: 0.8s; } }
@media (max-width: 767px) {
  .c-gallery__bottom-wrapper {
    display: flex;
    flex-flow: wrap;
    position: relative; } }
@media (min-width: 768px) {
  .c-gallery__bottom-wrapper {
    padding: 0rem 0rem 0rem 0rem; } }
@media (max-width: 767px) {
  .c-gallery__wrapper--four {
    padding-left: 0.5rem;
    width: 100%; } }
@media (min-width: 768px) {
  .c-gallery__wrapper--four {
    padding: 0rem 0.75rem 0rem 0.75rem;
    width: 34%;
    animation-delay: 0.4s; } }
@media (max-width: 767px) {
  .c-gallery__wrapper--six {
    padding-right: 0.5rem;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(-100%, 0%); } }
@media (min-width: 768px) {
  .c-gallery__wrapper--six {
    width: 66%;
    padding: 0rem 0rem 0rem 0.75rem;
    animation-delay: 0.8s; } }

@media (min-width: 768px) {
  .almost_visible {
    opacity: 0; } }

.cookies-tag {
  font-family: imago-book;
  display: none;
  top: -200px;
  position: fixed;
  width: 100%;
  z-index: 999999; }
  .cookies-tag .cookie-block-height {
    min-height: 8.875rem; }
  .cookies-tag .c-page-notification__left-col {
    padding: 2.5rem; }
    .cookies-tag .c-page-notification__left-col .c-page-notification__description {
      padding-left: 0px; }
    .cookies-tag .c-page-notification__left-col a {
      cursor: pointer; }
  .cookies-tag .c-page-notification__right-col a {
    opacity: 0.5; }

@media (max-width: 767px) {
  .cookies-tag .cookie-block-height {
    min-height: inherit; }
  .cookies-tag .c-page-notification__left-col {
    padding: 15px 10px; }
    .cookies-tag .c-page-notification__left-col .c-page-notification__description {
      padding: 0px;
      padding-top: 5px; } }
.c-related-products .c-listingTile__productWrapper, .c-related-products__heading {
  padding-left: 1rem;
  padding-right: 1rem; }
.c-related-products__heading {
  margin-bottom: 1.25rem; }
.c-related-products__wrapper {
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto; }
.c-related-products__wrapper::-webkit-scrollbar {
  display: none; }
@media (max-width: 767px) {
  .c-related-products__container {
    display: table;
    min-width: 100%; } }
@media (min-width: 768px) {
  .c-related-products .c-listingTile__productWrapper, .c-related-products__heading {
    padding-left: 11%;
    padding-right: 11%; }
  .c-related-products__heading {
    margin-bottom: 1.875rem; } }

/*# sourceMappingURL=secondary.css.map */
