{{#each this}}
<li class="clearfix c-pdp-spec-item js-pdp-spec-item">
	<p class="c-pdp-spec">
		<span class="c-pdp-spec-label">{{key}}</span>
		<span class="c-pdp-spec-line"></span></p>
	<p class="c-pdp-spec-desc">
	  <span>{{this.value}}</span>
	</p>
</li>
{{/each}}