.c-countryselector {
    font-family: $font-imagopro-book;
    background: $clr-blue;
    .x-liipbox__right-s__logo{
      background:none;
    } 
    &__country-text {
      @media ($mobile) {
        margin-top:60px;
        width:100%;
        padding-bottom:convert-in-rem(30);
        border-bottom: 1px solid $border-color;
        left:0;
      }
    }
    .link-row {
      display: block;
      font-size: convert-in-rem(18);
      font-weight: 300;
      letter-spacing: convert-in-rem(2);
      line-height: 1;
      padding-top: convert-in-rem(35);
      color: $clr-white;

      a.link {
        color: $clr-white;
        opacity:0.3;
        &:hover {
          opacity:0.5;
        }
      }
      a.link.active{
        opacity:1; 
      }
    }

    &__continent-list {
      list-style: none;
      @media ($mobile) {
        padding-left:0px;
      }
      & a{
        font-family: $font-imagopro-book;
        font-size: convert-in-rem(22);
        line-height: convert-in-rem(26);
        color: $clr-white;
        opacity: 0.3;
        &.active {
          opacity: 1;
        }
        &:hover {
          opacity: 0.5;
        }
      }
      li{
        @media ($mobile) {
          padding-top: convert-in-rem(25);
        }     
      }
    }
    .row-1{
      @media ($mobile){
         margin-top: convert-in-rem(30); 
      }      
    }  
    .row-1,
    .row-2 {
      padding: 0;
    }

    .row-2 {
      margin-top: convert-in-rem(25);
      @media ($mobile) {
        margin-bottom: convert-in-rem(20);
      }
    }

    .row-1 .cta-white {
      background: url('/etc/designs/roche/customerportal/clientlibs/roche.global.publish/images/cta-arrow.png') no-repeat;
      height: 14px;
      width: 14px;
      padding-right: convert-in-rem(25);
      position: relative;
      top: convert-in-rem(2);
      display: inline-block;
    }

    .region-picker {
      background: url('/etc/designs/roche/customerportal/clientlibs/roche.global.publish/images/regionPicker_light.svg') no-repeat left;
      height: 13px;
      width: 13px;
      display: inline-block;
      position: relative;
      top: convert-in-rem(1);
    }

    .country-name {
      padding-left: convert-in-rem(8);
    }

    .right-sm {
      &:before{
        @media ($mobile) {
          content: '';
          width: 100%;
          border-bottom: 1px solid #fff;
          position: absolute;
          left: -15px;
          padding-right:30px;
          box-sizing: content-box;
          top: 0;
          opacity: 0.51;
        }  
      }  
      padding-left: convert-in-rem(5);
      & ul {
        text-align: left;
        @media ($mobile) {
          padding-left:0px;
        }
      }
      & .global-site-box {
        display: none;
        font-size: convert-in-rem(16);
        font-weight: 300;
        line-height: convert-in-rem(22);
        color: $clr-white;
        width: 100%;
        letter-spacing: 0;
        font-family: inherit;
        padding-left: 0;
        margin: 2rem auto;
        & .u-right-arrow {
          background: url('/etc/designs/roche/customerportal/clientlibs/roche.global.publish/images/secondaryCTA-white.svg');
          margin-top: -5px;
          @media ($mobile) {
            margin-left: convert-in-rem(10);
          }
        }
      }
      & .global-site-link {
        @media ($mobile) {
          margin-top: convert-in-rem(20);
          display: block;
        }
        font-size: convert-in-rem(16);
        line-height: convert-in-rem(22);
        font-weight: 300;
        color: $clr-white;
      }
    }
  .confirm-box {
    width: auto;
    height: auto;
    display: none;
    text-align: center;
    font-family: $font-imagopro-book;

    &__content {
      font-size: convert-in-rem(22);
      font-weight: 300;
      line-height: convert-in-rem(28);
      color: $clr-white;
      width: 100%;
      letter-spacing: 0;
      font-family: inherit;
      max-width: 615px;
      margin: 0 auto;
    }

    &__btngroup {
      display: block;
      padding-top: convert-in-rem(50);

      &__btn {
        font-size: convert-in-rem(14);
        font-weight: 300;
        background-color: rgba($clr-white, 0.14);
        line-height: convert-in-rem(18);
        padding: convert-in-rem(16) convert-in-rem(18);
        color: $clr-white;
        width: 100%;
        margin-bottom: convert-in-rem(16);
        display: inline-block;
        border: 1px solid $clr-white;
      }
    }
  }

  & .cssmap-container {
    @media ($desktop) {
      margin-left:0px;
    }
  }

}

@media ($desktop) {
  .c-countryselector {
    height: 100%;
    & .links-section {
      height: calc(100% - 130px);
      & .container-fluid {
        height: 100%
      }
    }
      &__country-text {
        width: 80vw;
        margin-top: convert-in-rem(52);
        font-size: convert-in-rem(16);
        line-height: convert-in-rem(22);
        text-align: right;
      }
      .country-list {
        padding-left: 0;
        display: none;
      }
      .row-1,
      .row-2 {
        padding-top: convert-in-rem(20);
        margin-top: 0;
        height: 100%;
      }

      .row-2 {
        border-left: 1px solid #69a5de;
      }

      .left-sm {
        max-width: 100%;
        margin-left: 0;

        .link-row {
          font-size: convert-in-rem(32);
          font-weight: 300;
          text-transform: none;
        }
      }

      .right-sm {
        max-width: 100%;
        margin-left: convert-in-rem(20);
        display: block;
        position: relative;
        padding: convert-in-rem(10);
        padding-top: convert-in-rem(20);
        text-align: center;

        &__col {
          width: 100%;
        }

        & .global-site-text {
          float: left;
          padding-left: 0;
          width: 67%;
        }

        & .global-site-link{
          font-size: convert-in-rem(18);
          line-height: 1;
        }

        .link-row {
          width: 33%;
          font-size: convert-in-rem(18);
          font-weight: 300;
          line-height: 1.8;
          padding: convert-in-rem(15) convert-in-rem(20);
          display: inline-flex;

          &:nth-child(3n) {
            padding-right: convert-in-rem(0);
          }
        }
      .global-site-box  {
        margin: 2rem convert-in-rem(20);
        text-align: left;
        }
      }

      .confirm-box {
        &__content {
          font-size: convert-in-rem(32);
          line-height: convert-in-rem(38);
        }
      &__btngroup {
        &__btn {
          max-width: 180px;
          margin-right: convert-in-rem(16);
        }
      }
    }
  }
}