<div class="clearfix" style="margin-left: 30px;">
                <img src="/content/dam/customerportal/blueRoche.svg" align="left" style="height:100px;width:150px;float: left;" itemprop="logo" alt="Roche Logo">
                
</div>

    <form target="" action="" method="POST" id="tagsImport_form" style="margin-left: 30px;margin-top: 32px;">
            <label for="productId" style="margin-right: 12px;">Click to import tags</label>

            <input type="button" value="Import" onclick="form_submit();">
                </form>
    <div id="importTagsResponse"></div>
                <br>


<script type="text/javascript">window.bytesReceived= 0;</script>
    <script type="text/javascript">
        function form_submit(){
            $("#importTagsResponse").text("");

                                var urlValue = "/bin/Customerportal/importTags";

            var formdata = $('#tagsImport_form').serialize();
                $.ajax({
                url: urlValue,
                type:"GET",
                }).done(function(data,textStatus,response) {
                   $( "#importTagsResponse" ).text(response.responseText);
                });
        }


        String.prototype.getBytes = function() {
            var bytes = [];
            for (var i = 0; i < this.length; i++) {
                var charCode = this.charCodeAt(i);
                var cLen = Math.ceil(Math.log(charCode)/Math.log(256));
                for (var j = 0; j < cLen; j++) {
                    bytes.push((charCode << (j*8)) & 0xFF);
                }
            }
            return bytes.length;
        }
    </script>
