.c-page-details{
  margin-top:convert-in-rem(60);
  .ellipses-common{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .subheading-height{
    max-height: convert-in-rem(60);
  }
  .description-height{
    max-height: convert-in-rem(240);
    padding: 0;
  }
  &__pre-sub-heading{
    color:$heading-typetwo-clr;
    font-family: Minion-Italic;
    font-size: convert-in-rem(47);
    line-height: convert-in-rem(54);
  }
  &__event-heading{
    color:$heading-typetwo-clr;
    font-size: convert-in-rem(22);
    margin-bottom: convert-in-rem(25);
    text-transform: capitalize;
    max-height: convert-in-rem(35);
  }
  &__description{
      p{
        color: $clr-paragraph;
        font-size: convert-in-rem(20);
        line-height: convert-in-rem(26);
    }
  }
  &__page-detail-btn{
     margin-top: convert-in-rem(30);
     margin-bottom: convert-in-rem(20);
  }
  &__tags-list{
    padding:0;
    margin-bottom : convert-in-rem(35);
    li{
        width: 40%;
        margin-top: convert-in-rem(10);
        float: left;
    }
  }
  .margin-small {
    margin-top:convert-in-rem(24);
  }
  a.label-ellipses{
    text-transform: uppercase;
    display: inline-block;
    overflow: hidden;
    height: convert-in-rem(55);
    line-height: convert-in-rem(55);
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 convert-in-rem(20);
  }
  ul{padding-left:0;}
  ul li{
    font-family: imago-book;
    color: $clr-paragraph;
    font-size: convert-in-rem(20);
    line-height: convert-in-rem(26);
    list-style-position: inside;
  }
  .eventDetail{
    .x-caption-1{
      font-size: convert-in-rem(32);
      margin-bottom: convert-in-rem(36);
      line-height:convert-in-rem(35);
    }
    ul{
      padding-left: 0;
      float: left;
      width: 100%;
    }
    li{
      width: 100%;
      font-size: convert-in-rem(16);
      margin-top: 0;
    }
    .c-page-details__description{
      p{
        font-size: convert-in-rem(16);
        line-height: convert-in-rem(22);
      }
    }
    .image-block{
      margin-bottom: convert-in-rem(60); 
      max-height: convert-in-rem(400);
      height: convert-in-rem(400);
      overflow: hidden;
    }
  }
  .event-details {
  li{
    font-size: convert-in-rem(16); 
    }
  }
}
@media ($mobile) {
  .c-page-details{
    &__tags-list{
      li{
        width: 100%;
      }
    }
    .mobile-view {
      margin-top: convert-in-rem(20);
    }
    .eventDetail{
      .x-caption-1{
        font-size: convert-in-rem(30);
        font-weight: bold;
        font-family: imago-book;
      }
      .image-block{
        margin-bottom: convert-in-rem(60); 
        max-height: convert-in-rem(215);
        height: convert-in-rem(215);
        overflow: hidden;
      }
    }
  }
}