	<!DOCTYPE html>
<!--[if IE 9 ]><html lang="de" class="no-js ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><html lang="de" class="no-js"><!--<![endif]-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"
              data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="locale" content="en_US"/>
    <title>Global Components Roche</title>
 <sly data-sly-call="${clientLib.css @ categories='roche.vendor.publish'}" />
 <sly data-sly-call="${clientLib.css @ categories='roche.global.publish'}" />
 <sly data-sly-call="${clientLib.css @ categories='roche.secondary.publish'}" />
 <sly data-sly-call="${clientLib.css @ categories='roche.pdp.ssi.publish'}" />
</head>

<body class="fw x-wrapper" data-spy="scroll" data-target="#main-navbar" data-offset="90">


    
<sly data-sly-use.headerModel="/apps/roche/pharma/customerportal/components/header/ux-model.js"
       data-sly-use.lib1="/apps/roche/pharma/customerportal/components/header/header-template.html" />

<sly data-sly-use.footerModel="/apps/roche/pharma/customerportal/components/footer/ux-model.js"
       data-sly-use.lib4="/apps/roche/pharma/customerportal/components/footer/footer-template.html" />

<sly data-sly-use.heroMediaModel="/apps/roche/pharma/customerportal/components/heroMedia/ux-model.js"
       data-sly-use.lib2="/apps/roche/pharma/customerportal/components/heroMedia/heroMedia-template.html" />

<sly data-sly-use.headlinebodyModel="/apps/roche/pharma/customerportal/components/headlinebody/ux-model.js"
       data-sly-use.lib3="/apps/roche/pharma/customerportal/components/headlinebody/headlinebody-template.html" />

<sly data-sly-call="${lib1.header_template @ data=headerModel}" />
<sly data-sly-call="${lib2.heroMedia_template @ data=heroMediaModel}" />
<sly data-sly-call="${lib3.headlinebody_template @ data=headlinebodyModel}" />
<sly data-sly-call="${lib4.footer_template @ data=footerModel}" />




 <sly data-sly-call="${clientLib.js @ categories='roche.vendor.publish'}" />
 <sly data-sly-call="${clientLib.js @ categories='roche.global.publish'}" />
 <sly data-sly-call="${clientLib.js @ categories='roche.secondary.publish'}" />
 <sly data-sly-call="${clientLib.js @ categories='roche.pdp.ssi.publish'}" />

</body>
</html>
