.c-page-notification-404 {
  margin-top: convert-in-rem(105);
  &__title {
    font-size: convert-in-rem(30);
    font-weight: bold;
    line-height: convert-in-rem(36);
  }
  &__description {
    font-size: convert-in-rem(22);
    line-height: convert-in-rem(28);
    opacity: 0.65;
    margin-top: convert-in-rem(24);
  }
  &__links-section {
    margin-top: convert-in-rem(14);
  }
  .link {
    font-size: convert-in-rem(22);
    line-height: convert-in-rem(46);
    color: $link-color-404;
    display: inline-block;
  }
}

@media ($tablet) {
  .c-page-notification-404 {
    margin-top: convert-in-rem(158);
    &__summary {
      padding-left: 12%;
    }
    &__title {
      font-size: convert-in-rem(84);
      line-height: convert-in-rem(98);
      color: $link-color;
      max-width: convert-in-rem(417);
    }
    &__description {
      font-size: convert-in-rem(38);
      line-height: convert-in-rem(44);
      opacity: 1;
    }
    &__links-section {
      margin-top: 0;
      @include rel-padding(15, 15, 0, 24);
    }
    .link {
      font-size: convert-in-rem(22);
      line-height: convert-in-rem(26);
      color: $heading-color;
      margin-top: convert-in-rem(40);
      padding-left: convert-in-rem(2);
    }
    .border--line {
      border: 1px solid $clr-outline;
      margin-top: convert-in-rem(50);
    }
    .link-row:first-child a {
      font-size: convert-in-rem(48);
      line-height: convert-in-rem(54);
      margin-top: convert-in-rem(10);
      padding-left: 0;
    }
  }
}
