.c-pdp-summary-desc{
  .x-text *{
    font-family: $font-imagopro-book;
    color: $heading-color;
    font-size: convert-in-rem(16);
    line-height: convert-in-rem(22);
  }
  @media ($tablet){
    .x-h6 {
      width:30%;
      float:left;
      font-family: $font-imagopro-book;
    }
    .x-text {
      width:53%;
      float:right;
    }
  }
  @media ($mobile){
    .x-h6 {
      font-size: convert-in-rem(22);
      line-height : convert-in-rem(28);
    }
    .x-text {
      margin-top:convert-in-rem(48);
    }
  }
}
.c-pdp-summary-desc.c-pdp-summary__col-layout{
  @media ($tablet){
    .x-h6 {
      width:100%;
      float:none;
    }
    .x-text {
      width:100%;
      float:none;
      margin-top:convert-in-rem(15);
    }
  }
}

