<div class="clearfix" style="margin-left: 30px;">
	<img src="/content/dam/customerportal/blueRoche.svg" align="left" style="height:100px;width:150px;float: left;" itemprop="logo" alt="Roche Logo">
	<h2 style="float: left;margin-top: 28px;margin-left: 10px;font-size: 38px;">customerportal Cache Clean UP Page</h2>
</div>
<p style="margin-bottom: 4px;margin-left: 30px;">
	This page support ehCache OR dispatcherCache Clean UP</p>
<p style=" margin-left: 30px;"> 
To clean EhCache OR dispatcherCache, select cache name in form. e.g. Related Assay's Cache Clean</p>

    <form target="" action="" method="POST" id="articleImport_form" style="margin-left: 30px;margin-top: 32px;">
            <label for="productId" style="margin-right: 12px;">Select Cache</label>

            	<select name="cacheType" style="width: 420px;height: 25px;margin-left: 10px;">
                    <option value="relatedAssay" selected="selected">{{EhCache}} :: Related Assay's Cache Clean UP</option>
					<option value="assayMenuDispCache">{{Dispatcher Cache}} :: Assay Menu Cache Clean UP</option>
				</select>
            <input type="button" value="Clean Cache" onclick="form_submit();">
	</form>
    <div id="importResponse"></div>
	<br>


<script type="text/javascript">window.bytesReceived= 0;</script>
    <script type="text/javascript">
        function form_submit(){
            var formdata = $('#articleImport_form').serialize();
            var selector = formdata.split('=')[1];
    		var urlValue = "/content/customerportal/cache-clean-page/jcr:content/par/ehCache.",
            urlValue = urlValue + selector +'.html';


            console.log(formdata.cacheType);
                $.ajax({
                url: urlValue,
                type:"GET",
                }).done(function(data,textStatus,response) {
                   $( "#importResponse" ).text(response.responseText);
                });
        }
    </script>