.cookies-tag{
  font-family: imago-book;
  display:none;
  top:-200px;
  position: fixed;
  width: 100%;
  z-index:999999;
  .cookie-block-height{
    min-height:convert-in-rem(142);
  }
  .c-page-notification__left-col{
    padding:convert-in-rem(40);
    .c-page-notification__description{
      padding-left:0px;
    }
    a{
      cursor: pointer;
    }
  }
  .c-page-notification__right-col{
    a{
      opacity: 0.5;
    }
  }
}
@media($mobile) {
  .cookies-tag{
    .cookie-block-height{
      min-height: inherit;
    }
    .c-page-notification__left-col{
      padding:15px 10px;
      .c-page-notification__description{
        padding:0px;
        padding-top:5px;
      }
    }
  }
}