<!--/*Base page footer libs */-->

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"/>
<sly data-sly-test="${wcmmode.disabled}">
<sly data-sly-use.analyticsModel="com.roche.pharma.customerportal.core.models.AnalyticsModel"/> 
<script src="${analyticsModel.analyticsUrl}"></script>

<div id="analyticsdata" data-servername="${analyticsModel.serverName}" data-channel="${analyticsModel.sectionLevelOne}" data-sitesectionone="${analyticsModel.sectionLevelOne}" 
 data-sitesectiontwo="${analyticsModel.sectionLevelTwo}"  data-sitesectionthree="${analyticsModel.sectionLevelThree}"  data-sitesectionfour="${analyticsModel.sectionLevelFour}"></div>

</sly>
<sly data-sly-call="${clientLib.js @ categories='granite.utils'}" />
<sly data-sly-call="${clientLib.js @ categories='roche.vendor.publish'}" />
<sly data-sly-call="${clientLib.js @ categories='roche.pdp.ssi.publish'}" />
<sly data-sly-call="${clientLib.js @ categories='roche.global.publish'}" />
<sly data-sly-call="${clientLib.js @ categories='roche.secondary.publish'}" />

<script type="text/javascript">_satellite.pageBottom();</script>
