	<sly data-sly-use.product="com.roche.pharma.customerportal.core.models.ProductDetailModel">
		<meta data-sly-test="${product.featuredProduct}" name="featured-product" content="${product.featuredProduct}"/>
		<meta data-sly-test="${product.newProduct}" name="new-product" content="${product.newProduct}"/>
		<meta data-sly-test="${!product.isProductMetaEnabled && product.productId}" name="productId" content="${product.productId}" />
		
</sly>

<sly data-sly-use.base="com.roche.pharma.customerportal.core.models.BasePageModel">
		
        <meta data-sly-test="${base.pageType}" name="page-type" content="${base.pageType}"/>
        <meta data-sly-test="${base.locale}" name="og:locale" content="${base.locale}"/>
        <meta data-sly-test="${base.collectionName}" name="collection" content="${base.collectionName}"/>
        <meta data-sly-test="${base.robots}" name="robots" content="${base.robots}"/>
        <meta data-sly-test="${base.fileReference}" name="image-path" content="${base.fileReference}"/>
        <meta data-sly-test="${base.altText}" name="image-alt" content="${base.altText}"/> 
        <meta data-sly-test="${base.title}" name="title" content="${base.title}"/>
        <meta data-sly-test="${base.replicatedDate}" name="publishedDate" content="${base.replicatedDate}"/>
		<meta data-sly-test="${base.personaTag}" name="personaTag" content="${base.personaTag}"/>
		<title>${base.title}</title>
		
		<!--/*Social share meta tags*/-->
	<meta data-sly-test="${base.title}" property="og:title" content="${base.title}" />
	<meta data-sly-test="${base.description}" property="og:description" content="${base.description}" />
	<meta data-sly-test="${base.currentPageURL}" property="og:url" content="${base.currentPageURL}" />
	<meta data-sly-test="${base.imageFullPath}" property="og:image" content="${base.imageFullPath}" />
	<meta property="og:site_name" content="${'rdoe_global.siteName' @ i18n}" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta data-sly-test="${base.title}" name="twitter:title" content="${base.title}" />
	<meta data-sly-test="${base.description}" name="twitter:description" content="${base.description}" />
	<meta data-sly-test="${base.imageFullPath}" name="twitter:image" content="${base.imageFullPath}" />
</sly>
<sly data-sly-use.metaModel="com.roche.pharma.customerportal.core.models.MetaTagModel">
<sly data-sly-test="${metaModel.metaDataValues}" data-sly-list.key="${metaModel.metaDataValues}"><meta name="${key}" content="${metaModel.metaDataValues[key]}" />
</sly>
</sly>