.c-page-notification {
  position: relative;
  font-family: "imago-book", Arial, sans-serif;
  &__left-col {
    padding: convert-in-rem(15) convert-in-rem(16);
    width: 100%;
    display: inline-block;
  }
  &__right-col {
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    border-left: 1px solid $clr-carousel-border;
  }
  &__title {
    line-height: convert-in-rem(16);
    font-size: convert-in-rem(12);
  }
  &__description {
    font-size: convert-in-rem(10);
    line-height: convert-in-rem(14);
  }
  .notification--close {
    top: 50%;
    left: 13px;
    transform:translateY(-50%);
    height:20px;
    @media($tablet) {
      height:32px;
    }
    opacity: 1;
    &:after,
    &:before {
      height: 20px;
      width: 1px;
      background-color: $heading-color;
      border-bottom: none;
      bottom: inherit;
    }
    &:hover:after{
      transform: rotate(-45deg);
    }
  }
  .js-notification-alert {
    background-color: $clr-tint-pink;
    color: $heading-color;
    .CTA-link {
      display: none;
    }
  }
  .js-notification-confirmation {
    background-color: $clr-btn-blue;
    color: $heading-color;
    .CTA-link {
      display: none;
    }
  }
  .js-notification-error {
    background-color: $clr-error-red;
    color: $clr-white;
    .notification--close {
      &:after,
      &:before {
        background-color: $clr-white;
      }
    }
    .right {
      border-left: 1px solid $clr-white;
    }
    .left-wrapper {
      width: auto;
      display: inline-block;
    }
    .CTA-link {
      border: 1px solid $clr-white;
      padding: convert-in-rem(6);
      min-width: convert-in-rem(72);
      text-transform: uppercase;
      display: inline-block;
      background-color: rgba(255, 255, 255, 0.14);
      font-size: convert-in-rem(8);
      letter-spacing: 1px;
      line-height: convert-in-rem(10);
      text-align: center;
      color: $clr-white;
      vertical-align: top;
      top: convert-in-rem(4);
      position: relative;
      float: right;
      margin-right: convert-in-rem(60);
    }
  }
}

@media ($tablet) {
  .c-page-notification {
    &__left-col {
      padding: convert-in-rem(34) convert-in-rem(49) convert-in-rem(35);
    }
    &__right-col {
      width: 128px;
      height: 100%;
    }
    &__title {
      line-height: convert-in-rem(26);
      font-size: convert-in-rem(22);
    }
    &__description {
      line-height: convert-in-rem(22);
      font-size: convert-in-rem(16);
      margin-top: convert-in-rem(20);
    }
    .notification--close {
      top: 50%;
      transform: translateY(-50%);
      left: 48px;
      &:after,
      &:before {
        height: 36px;
      }
    }
    .js-notification-error {
      .CTA-link {
        min-width: convert-in-rem(267);
        font-size: convert-in-rem(14);
        letter-spacing: 2px;
        line-height: convert-in-rem(18);
        padding: convert-in-rem(16);
        margin-right: convert-in-rem(128);
      }
    }
  }
}
