.c-listingWrapper {
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  width: 100%;
  &::-webkit-scrollbar{
    display:none;
  }
  .no-result {
  	text-align: center;
    font-size: convert-in-rem(24);
    margin-top: convert-in-rem(50);
  }
  .loading-icon {
    top: auto;
    bottom: 0;
  }
  .c-listingtile{
    @media ($mobile) {
      padding-left: convert-in-rem(16);
      padding-right: convert-in-rem(16);
    }

    @media ($tablet) {
      padding-left: convert-in-rem(42);
      padding-right: convert-in-rem(42);
    }

    @media ($desktop) {
      padding-left: convert-in-rem(54);
      padding-right: convert-in-rem(54);
    }

    @media ($desktop-large) {
      padding-left: convert-in-rem(48);
      padding-right: convert-in-rem(48);
    }

    @media ($desktop-x-large) {
      padding-left: convert-in-rem(16);
      padding-right: convert-in-rem(16);
    }
  }
}
