<sly data-sly-template.relatedlinks_template="${@ data, flag}">
    <div class="c-related-links js-related-links" data-sly-test="${data.relatedList}" data-module="relatedlinksComp">
        <div class="c-related-links__title">${data.headline}</div>
        <nav class="c-related-links__link-list">
            <ul>
                <div data-sly-list.ctaList="${data.relatedList}" data-sly-unwrap>
                
                <li>
                    <a role="navigation" href="${ctaList.pagePath}${ctaList.pageSuffix}" title="${ctaList.pageName}" class="x-sub-hover related-links js-anchor-links" target="${ctaList.linkBehaviour}" data-fn-click="true" data-da-satelliteTrackEvent="generic-link-tracking" data-da-link_content-Type="${ctaList.contentType}"
          > <span class="js-truncated-text c-truncated-text">${ctaList.pageName}</span>
          <span class="x-secondary-cta related-links__secondary-cta"></span>
        </a>
                </li>
                </div>
            </ul>
        </nav>
    </div>
</sly>
