
@font-face {
    font-family: imago-book;
    src: url('../fonts/ImagoProBoo.otf') format("opentype"),
         url('../fonts/ImagoProBoo.woff') format("woff"),
         url('../fonts/ImagoProBoo.ttf') format("truetype");
}

@font-face {
   font-family: imago-medium;
   src: url('../fonts/ImagoProMed.otf') format("opentype"),
        url('../fonts/ImagoProMed.woff') format("woff"),
        url('../fonts/ImagoProMed.ttf') format("truetype");
}

@font-face {
   font-family: Minion-Italic;
   src: url('../fonts/Minion-Italic.eot');
   src: url('../fonts/Minion-Italic.eot?#iehack') format('eot'),
        url('../fonts/Minion-Italic.woff') format('woff'),
        url('../fonts/Minion-Italic.ttf')  format('truetype');
}
