/*
 *
 */

.x-body-tags {
  @include heading-title($font-imagopro-book, $heading-color);
  font-size: 16px;
  line-height: 22px;
  float: left;
  background-image: url('../images/Oval.png');
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 0 0 0 20px;
  margin-right: 25px;
  background-size: 7px;
  list-style-type: none;
}

.x-facebook-icon {
  @include social-icon-hover-preloaded ('../images/Facebook.svg', '../images/reversedFacebook.svg');
}

.x-twitter-icon {
  @include social-icon-hover-preloaded ('../images/Twitter.svg', '../images/reversedTwitter.svg');
}

.x-email-icon {
  @include social-icon-hover-preloaded ('../images/mail.svg', '../images/reversedMail.svg');
}

.x-youtube-icon {
  @include social-icon-hover-preloaded ('../images/Youtube.svg', '../images/reversedYoutube.svg');
}

.x-linkedin-icon {
  @include social-icon-hover-preloaded ('../images/Linkedin.svg', '../images/reversedLinkedIn.svg');
}

.x-kakoastory-icon {
  @include social-icon-hover-preloaded ('../images/KakoaStory.svg', '../images/reversedKakoaStory.svg');
}

.x-wechat-icon {
  @include social-icon-hover-preloaded ('../images/WeChat.svg', '../images/reversedWeChat.svg');
}

.x-search-icon {
  background: url("../images/darkSearch.svg") no-repeat;
  height: 18px;
  width: 17px;
  display: inline-block;
  vertical-align: text-bottom;
  text-indent: -9999px;
}

button.x-hamburger-icon {
  background: url("../images/nav-icon.svg") no-repeat;
  height: 16px;
  width: 20px;
  display: inline-block;
  vertical-align: text-bottom;
  border: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding: 0;
  &:hover,&:focus {
    background: url("../images/nav-icon.svg") no-repeat;
  }
}

.x-hamburger-icon:active {
  outline: none;
}

.x-secondary-cta {
  background: url("../images/secondaryCTA_dropDown.svg") no-repeat;
  height: 18px;
  width: 18px;
  display: inline-block;
  background-color: $clr-tint-blue;
  border-radius: 50%;
  vertical-align: sub;
  &:hover {
    background: url("../images/secondaryCTA-blue.svg") no-repeat;
    background-color: $clr-blue;
  }
}
.u-right-arrow {
  background: url('/etc/designs/roche/customerportal/clientlibs/roche.global.publish/images/secondaryCTA.svg');
  height: 18px;
  width: 18px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-indent: -9999px;
}
.u-right-arrow.u-right-arrow-white{
  background: url('/etc/designs/roche/customerportal/clientlibs/roche.global.publish/images/secondaryCTA-white.svg') no-repeat;
  background-size: 18px 22px;
  width:18px;
  height:22px;
  border-radius:22px;
}
.u-right-arrow.u-right-arrow-white:hover{
  background-color: $clr-arrow-blue;
}

.u-left-arrow {
  background: url('/etc/designs/roche/customerportal/clientlibs/roche.global.publish/images/secondaryCTA.svg');
  height: 18px;
  width: 18px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-indent: -9999px;
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.x-hint-btn {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  overflow: hidden;
  text-indent: -9999px;
  background: $clr-acnt-blue url('../../roche.global.publish/images/toolTip.svg') no-repeat 100%;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
  &.active {
    background-color: $clr-white;
  }
}
.x-arrowlink a{
  color:$heading-color;
  &:after {
    @extend .x-secondary-cta;
    position: inherit;
    transform: inherit;
    margin-left: convert-in-rem(10);
    border: none;
  }
  &:hover:after{
    background: url("../images/secondaryCTA-blue.svg") no-repeat;
    background-color: #0066cc;
  }
}

.x-secondary-cta-up {
  @extend .x-secondary-cta;
  transform: rotate(-90deg);
  background-color: $clr-acnt-blue;
}

.x-secondary-cta-down {
  @extend .x-secondary-cta;
  transform: rotate(90deg);
  background-color: $clr-acnt-blue;
}
