@mixin heading-title($font-face, $color) {
  font-family: $font-face;
  color: $color;
}

@mixin social-icon-transform {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

@mixin social-icon-background {
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: 40px;
  display: inline-block;
  -webkit-transition: background-image .2s;
  transition: background-image .2s;
}

@mixin social-icon-hover-preloaded ($initial, $hover) {
  @include social-icon-background();
  background-image: url($initial);
  text-indent: -9999px;
  &:hover {
    background-image: url($hover);
  }
  // preloading in before for hover state
  &:before {
    content: '';
    width: 0;
    height: 0;
    background-image: url($hover);
  }
}

@mixin components-header {
  padding: 0;
  border-bottom: none;
  line-height: initial;
  height: initial;
}

@mixin clearfix {
  clear: both;
}

// Relative paddings
@mixin rel-padding($top, $right, $bottom, $left) {
  $rel-top: convert-in-rem($top);
  $rel-right: convert-in-rem($right);
  $rel-bottom: convert-in-rem($bottom);
  $rel-left: convert-in-rem($left);

  padding: $rel-top $rel-right $rel-bottom $rel-left;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin multi-column-list($column-width, $column-rule-style) {
  -webkit-column-width: $column-width;
  -moz-column-width: $column-width;
  -o-column-width: $column-width;
  -ms-column-width: $column-width;
  column-width: $column-width;
  -webkit-column-rule-style: $column-rule-style;
  -moz-column-rule-style: $column-rule-style;
  -o-column-rule-style: $column-rule-style;
  -ms-column-rule-style: $column-rule-style;
  column-rule-style: $column-rule-style;
}

@mixin rotate($deg) {
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -ms-transform: rotate($deg);
  -o-transform: rotate($deg);
  transform: rotate($deg);
}

@mixin transform-origin($x, $y) {
  -webkit-transform-origin: $x $y;
  -moz-transform-origin: $x $y;
  -ms-transform-origin: $x $y;
  -o-transform-origin: $x $y;
  transform-origin: $x $y;
}

@mixin animation($delay, $effect, $dur, $filter) {
  -webkit-animation: $delay $effect $dur $filter;
  -moz-animation: $delay $effect $dur $filter;
  -ms-animation: $delay $effect $dur $filter;
  -o-animation: $delay $effect $dur $filter;
  animation: $delay $effect $dur $filter;
}

@mixin background-opacity($color, $opacity) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}

// mixins for global margins

@mixin margin-mobile-s{
  margin-top: convert-in-rem(16);
}
@mixin margin-mobile-m{
  margin-top: convert-in-rem(24);
}
@mixin margin-mobile-l{
  margin-top: convert-in-rem(48);
}
@mixin margin-desktop-s{
  margin-top: convert-in-rem(24);
}
@mixin margin-desktop-m{
  margin-top: convert-in-rem(62);
}
@mixin margin-desktop-l{
  margin-top: convert-in-rem(100);
}



