.t-pdp-container{
	@media ($mobile) {
		display: flex;
    	flex-flow: column;
    	.c-pdpnav-container{
    		margin-top:0;
    	}
	}

	@media ($mobile) {
		.c-prod-desc-container{
			order:2;
		}
		.c-hero-container{
			order:3;
		}
		.c-pdpnav-container{
			order:1;
		}
	}
	.c-tab-view-container{
		order:4;
		@media ($mobile) {
			padding: 0;
		}
	}
	@media ($tablet) {
		.c-feature-table{
			width:83%;
			margin:0 auto; 
		}
		.c-pdp-summary-desc + .mediainfo{
			margin-top: convert-in-rem(48);
		}
	}
}
.t-pdp-info-col{
	.x-h6, .t-pdp-feature-benefits h2{
		@media ($mobile) {
			font-size:convert-in-rem(22);
			line-height: convert-in-rem(28);
		}
	}
	.x-h7, .t-pdp-intended-use h2{
		@media ($mobile) {
			font-size:convert-in-rem(18);
			line-height: convert-in-rem(22);
		}
	}
	.x-h6,.x-h7,
	.t-pdp-feature-benefits h2,
	.t-pdp-intended-use h2{
		font-family: $font-imagopro-book;
		@media ($mobile) {
			margin-bottom: convert-in-rem(25);
		}
		@media ($tablet) {
			margin-bottom: convert-in-rem(12);
		}
	}
	ul{
		padding-left:convert-in-rem(22);
		list-style-type:square;
	}
	li,p{
		color: $heading-color;
	}
	li{
		@media ($mobile) {
			font-size:convert-in-rem(16);
			line-height: convert-in-rem(22);
		}
		@media ($tablet) {			
			font-size:convert-in-rem(20);
			line-height: convert-in-rem(26);
		}
		margin-bottom: convert-in-rem(15);
	}
	p{
		font-size:convert-in-rem(16);
		line-height: convert-in-rem(22);
	}
} 
.t-pdp-feature-benefits,
.t-pdp-intended-use{
	margin-top: convert-in-rem(48);	
}

.t-pdp-info-col2{
	@media ($tablet) {	
		.t-pdp-info-col{
			width: 35%;
			float:left;
		}
		.t-pdp-info-col:first-child{
			width: 55%;
			margin-right: 10%;
		}
	}
}

.c-pdplogo{
  border-bottom:1px solid $clr-light-grey;
  padding: convert-in-rem(18);
  text-align:right; 
  .logo-container{
    display:inline-block;
    img{
      width:auto;
      height:20px;
    }
  }
}


