<div class="ux-header">
  <a href="/">
      <img src="{{static}}/images/ux-library/logo2.svg" alt="" style="width: 25px">
  </a>
  <a href="/">
    <strong>UpFront</strong> | Web &amp; Portal UX Library
  </a>
</div>
