.c-title{
  margin-top: convert-in-rem(45);
  margin-bottom: convert-in-rem(45);
  .roche-pageType{
    font-size: convert-in-rem(12);
    line-height: convert-in-rem(16);
    font-family: $font-imagopro-book;
    text-transform:uppercase;
    letter-spacing:2px;
    color: $heading-color;
    opacity:0.6;
  }
  .roche-title{
      font-size: convert-in-rem(30);
      line-height: convert-in-rem(36);
      font-family: $font-imagopro-medium;
      font-weight:bold;
      color: $heading-color;
  }
  @media ($tablet) {
    margin-top: convert-in-rem(60);
    margin-bottom: convert-in-rem(60);
    .roche-pageType{
      opacity:1;
    }
    .roche-title{
      font-size: convert-in-rem(64);
      line-height: convert-in-rem(68);
      margin-top:convert-in-rem(7);
    }
  }
}


