
<!--

    Hero Media  Component .

  	This is the  component for Hero Media

    -->
        <sly data-sly-test.emptyContent="${wcmmode.edit}"> <div data-emptytext="configure ${component.title}" class="cq-placeholder"></div></sly>
	<sly data-sly-use.heroMediaModel="com.roche.pharma.customerportal.core.models.HeroMediaModel"
       data-sly-use.lib="/apps/roche/pharma/customerportal/components/heroMedia/heroMedia-template.html"
       data-sly-call="${lib.heroMedia_template @ data=heroMediaModel}" />  