.c-pdp-nav-tabs{
  @media ($tablet) {
    position:relative;
    top: convert-in-rem(-28);
  }
  @media ($mobile) {
    margin-top: convert-in-rem(-36);
    margin-bottom:convert-in-rem(25);
  }
}
.c-tabs-container{
  @media ($tablet) {
    width:100%;
    border-top:1px solid $clr-outline;
    text-align: center;
    margin-top:convert-in-rem(28);
  }
  .c-tabs-list{
    list-style-type:none;
    width:100%;
    display:inline-block;
    box-sizing: border-box;
    @media ($tablet) {
      padding-left:0px;
      margin-bottom:0px;
      position: relative;
      top:convert-in-rem(-28);
      width:83%;
      font-size: 0px;
    }
    @media ($mobile) {
      white-space: nowrap;
      border-top: 1px solid $clr-outline;
      border-bottom: 1px solid $clr-outline;
      @include rel-padding(0, 10, 0, 10);
      overflow-x: auto;
      text-align: center;
      &::-webkit-scrollbar{
        display:none;
      }
    }
    .c-tab-list-item{
      display:inline-block;
      text-transform:uppercase;
      box-sizing:border-box;
      width:auto;
      font-size:convert-in-rem(12);
      color:$clr-grey;
      cursor: pointer;
      a{   
        text-decoration: none;
      }
      a:hover, a:visited{
        color: $heading-color;
      }
      @media ($tablet) {
        background-color:$clr-white;
        width:25%;
        text-align:center;
        font-size:convert-in-rem(14);
        @include rel-padding(18, 20, 18, 20);
        border: 1px solid $clr-outline;
        border-left:0px;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
        &:first-child{
          border-left: 1px solid $clr-outline;
        }
        a{
          letter-spacing: convert-in-rem(1);
          line-height: convert-in-rem(18);
          opacity:0.6;
        }
      }
      @media ($mobile) {
        @include rel-padding(18, 15, 15, 15);
        font-size:convert-in-rem(12);
        a{
          letter-spacing: convert-in-rem(2);
          line-height: convert-in-rem(16);
        }
      }
    }
    .c-tab-list-item{
      &.selected a{
        color: $heading-color;
        opacity:1;
      }
      @media ($tablet) {
        &.selected{
          background-color:$clr-acnt-blue;
        }
        &:hover{
          background-color:$clr-btn-blue;
          -moz-transition: all .2s ease-in;
          -o-transition: all .2s ease-in;
          -webkit-transition: all .2s ease-in;
          transition: all .2s ease-in;
        }
        
      }
      @media ($mobile) {
        &.selected{
          border-bottom: 3px solid $clr-acnt-blue;  
        }
      }
    }
  }
}

