.c-marketingtile {
  font-family: $font-imagopro-book;
  display: inline-block;
  width: 100%;
  @media ($tablet) {
    max-height: 600px;
    overflow: hidden;
  }

  .row {
    margin: 0;
  }

  &__row {
    display: inline-block;
    width: 100%;
    position: relative;

    @media ($tablet) {
      display: table;
      direction: rtl;
    }
  }

  &__col-left {
    background-color: $clr-tint-blue;
    display: inline-block;
    float: none;
    padding: convert-in-rem(56) convert-in-rem(15);
    text-align: left;
    direction: ltr;

    @media ($tablet) {
      display: table-cell;
      padding: convert-in-rem(130) convert-in-rem(75);
    }

    @media ($desktop) {
      display: table-cell;
      padding: convert-in-rem(130) convert-in-rem(100) convert-in-rem(131);
    }
  }

  &__col-right {
    display: inline-block;
    float: none;
    text-align: center;
    direction: ltr;
    padding: 0;
    max-height: 290px;
    overflow: hidden;

    @media ($tablet) {
      display: table-cell;
      vertical-align: middle;
      position: relative;
    }

    .x-imagepos {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
  }

  &__title {
    color: $heading-typetwo-clr;
    font-family: inherit;
    font-size: convert-in-rem(22);
    line-height: convert-in-rem(28);

    @media ($tablet) {
      font-size: convert-in-rem(38);
      line-height: convert-in-rem(44);
      padding-top: convert-in-rem(50);
    }
  }

  &__subtitle {
    color: $heading-color;
    font-family: inherit;
    font-size: convert-in-rem(16);
    line-height: convert-in-rem(28);
    padding: convert-in-rem(3) 0;

    @media ($tablet) {
      font-size: convert-in-rem(22);
      line-height: convert-in-rem(26);
    }
  }

  &__description {
    color: $heading-color;
    font-family: inherit;
    font-size: convert-in-rem(16);
    line-height: convert-in-rem(22);
    display: block;
    clear: both;
    width: 100%;
    max-width: 408px;
    max-height: 95px;
    padding: convert-in-rem(11) 0 0;

    @media ($tablet) {
      padding: convert-in-rem(15) 0 convert-in-rem(10);
      display: inline-block;
    }

    p {
      color: inherit;
      font-family: inherit;
      font-size: inherit;
      display: inline-block;
      padding: 0;
      position: relative;
      margin: 0;
    }

    &.more-info {
      .more-link {
        display: inline-block;
      }
    }
  }

  .more-link {
    color: $heading-color;
    display: none;
    font-family: inherit;
    display: inline-block;
    font-size: convert-in-rem(18);
    line-height: convert-in-rem(30);
    padding-top: convert-in-rem(5);

    @media ($tablet) {
      line-height: convert-in-rem(24);
      padding-top: convert-in-rem(5);
    }

    .u-arrow {
      margin-left: convert-in-rem(5);
    }

    &:hover {
      text-decoration: none;
      color: $heading-color;

      .u-arrow {
        background-color: $clr-blue;

        i {
          border-color: $clr-white;
        }
      }
    }

    &::after {
      display: none;
    }
  }

  &__cta {
    color: $heading-color;
    font-family: inherit;
    display: inline-block;
    font-size: convert-in-rem(18);
    line-height: convert-in-rem(30);
    padding-top: convert-in-rem(5);

    @media ($tablet) {
      line-height: convert-in-rem(24);
      padding-top: convert-in-rem(5);
    }

    &::after {
      display: none;
    }

    &:hover {
      text-decoration: none;
      color: $heading-color;

      .u-arrow {
        background-color: $clr-blue;

        i {
          border-color: $clr-white;
        }
      }
    }
  }

  .u-arrow {
    top: -2px;
  }

  &.featuredproduct {
    border-top: 1px solid $clr-outline;
    border-bottom: none;

    @media ($tablet) {
      border-bottom: 1px solid $clr-outline;
    }

    .c-marketingtile__col-left {
      background-color: $clr-blue;

      @media ($tablet) {
        display: table-cell;
        padding: convert-in-rem(130) convert-in-rem(75) convert-in-rem(131);
      }
    }

    .c-marketingtile__title,
    .c-marketingtile__subtitle,
    .c-marketingtile__description,
    .c-marketingtile__cta {
      color: $clr-white;
    }

    .more-link {
      color: $clr-white;
    }

    .c-marketingtile__cta,
    .more-link {
      .u-arrow {
        border-color: $clr-white;

        i {
          border-color: $clr-white;
        }
      }

      &:hover {
        .u-arrow {
          background-color: $clr-tint-blue;
          border-color: $clr-black;

          i {
            border-color: $clr-black;
          }
        }
      }
    }

    .c-marketingtile__col-right {
      padding: convert-in-rem(65) 0;
      max-height: 100%;
      overflow: hidden;
      text-align: center;
      border-bottom: 1px solid $clr-outline;
      padding: convert-in-rem(65) convert-in-rem(60);

      .x-imagepos {
        width: auto;
      }

      @media ($tablet) {
        border-bottom: none;
        padding: convert-in-rem(195) convert-in-rem(110);
      }
    }
  }

  &.left {
    .c-marketingtile__row {
      direction: ltr;
    }
  }
}

.marketingTile {
  clear: both;
  margin: 0;
  padding: 0;
  line-height: 0;
}