.c-faq {
  display: inline-block;
  clear: both;
  width: 100%;

  &__heading {
    font-size: convert-in-rem(30);
    line-height: convert-in-rem(36);
    font-family: $font-imagopro-bold;
    padding: 0 0 convert-in-rem(20) 0;
    color: $heading-color;
    font-weight: bold;

    @media ($tablet) {
      font-size: convert-in-rem(32);
      line-height: convert-in-rem(38);
    }
  }

  &__title {
    overflow: hidden;
    max-height: convert-in-rem(90);
    padding-right: convert-in-rem(50);

    @media ($tablet) {
      max-height: convert-in-rem(60);
    }
  }

  &__description {
    max-width: 100%;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    max-height: 140px;
    font-size: convert-in-rem(16);
    line-height: convert-in-rem(26);
    padding: convert-in-rem(30) convert-in-rem(5) convert-in-rem(30) 0;

    @media ($tablet) {
      padding: convert-in-rem(20) convert-in-rem(130) convert-in-rem(20) 0;
      max-height: 90px;
      line-height: convert-in-rem(22);
    }

    @media ($desktop) {
      max-height: 100px;
    }
    @media ($desktop-large) {
      max-height: 110px;
    }
  }

  &__row {
    float: left;
    width: 100%;
    list-style-type: none;

    /* Acordeon styles */
    &__col {
      position: relative;
      width: 100%;
      color: #fff;
      overflow: hidden;
      border-right: 1px solid $clr-outline;
      border-left: 1px solid $clr-outline;
      border-bottom: 1px solid $clr-outline;

      &:first-child {
        border-top: 1px solid $clr-outline;
      }
    }
  }

  &__question {
    display: block;
    padding: convert-in-rem(30) convert-in-rem(24) convert-in-rem(30) convert-in-rem(16);
    font-weight: normal;
    cursor: pointer;
    color: $clr-black;
    font-size: convert-in-rem(22);
    line-height: convert-in-rem(28);
    font-family: $font-imagopro-book;
    margin: 0;

    @media ($tablet) {
      padding: convert-in-rem(20) convert-in-rem(54) convert-in-rem(20) convert-in-rem(16);
    }

    p {
      margin: 0;
    }

    &::after {
      position: absolute;
      right: 0;
      top: 0;
      display: block;
      width: 3em;
      height: 3em;
      text-align: center;
      -webkit-transition: all .35s;
      -o-transition: all .35s;
      transition: all .35s;
    }
  }

  .tab-content {
    @include transition(max-height 0.4s ease-in-out);

    max-height: 0;
    overflow: hidden;
    color: $heading-color;
    padding: 0 convert-in-rem(16) 0;
    font-size: convert-in-rem(16);
    line-height: convert-in-rem(22);
    font-family: $font-imagopro-book;

    p {
      font-size: inherit;
      line-height: inherit;
      font-family: inherit;
      margin: 0;
    }
  }

  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  /* :checked */
  input:checked ~ .tab-content {
    max-height: 100%;
    border-top: 1px solid $clr-outline;

    @media ($tablet) {
      max-height: 90px;
    }

    @media ($desktop) {
      max-height: 100px;
    }
    @media ($desktop-large) {
      max-height: 110px;
    }
  }

  input[type=checkbox] + label,
  input[type=radio] + label {
    @include transition(background 0.8s ease-in-out);
    position: relative;
    &::after, &::before {
      @include transition(transform 0.4s ease-in-out);

      content: '';
      position: absolute;
      background-color: $clr-outline;
      width: 30px;
      height: 1px;
      right: 20px;
      top: 50%;
    }

    &::before {
      transform: rotate(90deg);
    }
  }

  input[type=checkbox]:checked + label,
  input[type=radio]:checked + label {
    background: $clr-tint-blue;

    &::before {
      transform: rotate(0);
      opacity: .5;
    }

    &::after {
      background-color: $heading-color;
    }
  }
}
