<!-- this is the template for navigation menu -->
<sly data-sly-template.hamburgermenu_template="${@ data,flag}">
  <aside class="hidden js-liipbox-navigation">
    <div class="c-navigation x-liipbox js-liipbox-content" data-module="navigationCmp">
      <div class="c-navigation-overlay js-liipbox-overlay">
        <div class="x-liipbox__top-section js-liipbox-top-section">
          <div class="col-1 x-liipbox__left-s">
            <button class="navbar-toggle js-cross-icon" type="button" data-fn-click="true"
            data-da-satelliteTrackEvent="generic-link-tracking"data-da-link_link-Page-Name="" 
            data-da-link_link-Category="" 
            data-da-link_link-Section="hamburger-menu" 
            data-da-link_link-Header="hamburger-menu" 
            data-da-link_link-Text="hamburger-menu-close" 
data-da-link_link-Interaction-Method="" >
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="sr-only">open navigation</span>
            </button>
          </div>
          <a href="#" data-url="${data.personaSelectorPath}.html" data-sly-test="${!data.isPersonaDisabled}" itemprop="url"
            class="persona-text x-liipbox__text ellipsis visible-xs-inline-block js-header-persona-link" 
            data-fn-click="true"
            data-da-satelliteTrackEvent="generic-link-tracking"data-da-link_link-Page-Name="" 
            data-da-link_link-Category="" 
            data-da-link_link-Section="hamburger-menu"
            data-da-link_link-Header="hamburger-menu" 
            data-da-link_link-Text="persona-picker" 
data-da-link_link-Interaction-Method=""  >
          <span class="sr-only">select persona</span>
          </a>
          <div class="col-2 x-liipbox__right-s">
            <div class="x-liipbox__right-s__logo js-liipbox-logo">
           
            </div>
          </div>
        </div>
        <div class="links-section">
          <div class="col-xs-12 col-sm-6 row-1">
            <div class="left-sm x-overlay-link-container">
              <div data-sly-test="${data.hamburgerMenuLeftLinks}" data-sly-list="${data.hamburgerMenuLeftLinks}" data-sly-unwrap>
                <div class="link-row">
                  <a href="${item.pagePath}${item.pageSuffix}" itemprop="url" class="link x-link-secondary x-overlay-link" target="${item.linkBehaviour}" 
                  data-fn-click="true"
            data-da-satelliteTrackEvent="generic-link-tracking"data-da-link_link-Page-Name="" 
            data-da-link_link-Category="" 
            data-da-link_link-Section="hamburger-menu" 
            data-da-link_link-Header="${item.pageName}" 
            data-da-link_link-Text="${item.pageName}" 
data-da-link_link-Interaction-Method="">
                      <span class="content">${item.pageName}</span>
                    </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 row-2">
            <div class="right-sm x-overlay-link-container">
              <div data-sly-test="${data.hamburgerMenuRightLinks}" data-sly-list="${data.hamburgerMenuRightLinks}"
                data-sly-unwrap>
                <div class="link-row">
                  <a href="${item.pagePath}${item.pageSuffix}" itemprop="url" class="x-link-secondary link x-overlay-link ${item.isVisibleOnMobile ? 'visible-xs' : '' }"
                    target="${item.linkBehaviour}" 
                    data-fn-click="true"
            data-da-satelliteTrackEvent="generic-link-tracking"data-da-link_link-Page-Name="" 
            data-da-link_link-Category="" 
            data-da-link_link-Section="hamburger-menu" 
            data-da-link_link-Header="${item.pageName}" 
            data-da-link_link-Text="${item.pageName}" 
data-da-link_link-Interaction-Method="">
                      <span class="content">${item.pageName}</span>
                    </a>
                </div>
              </div>
              <div data-sly-test="${data.countrySelectorPath}" class="link-row">
                <a data-sly-test="${data.countrySelectorPath}" href="javascript:void(0);" data-url="${data.countrySelectorPath}/_jcr_content/par/countryselector.html"
                  itemprop="url" class="country-picker link x-link-secondary js-link-country x-overlay-link" 
                  data-fn-click="true"
            data-da-satelliteTrackEvent="generic-link-tracking"data-da-link_link-Page-Name="" 
            data-da-link_link-Category="" 
            data-da-link_link-Section="hamburger-menu" 
            data-da-link_link-Header="location-selector" 
            data-da-link_link-Text="${data.countryCode} ${data.languageCode}" 
data-da-link_link-Interaction-Method="">
                    <span class="region-picker"></span>
                    <span class="country-name">${data.countryCode}</span>
                    <span>/</span>
                    <span class="language">${data.languageCode}</span>
                  </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>
</sly>
