 <!--

    Product Landing Page Component component.

  	This is the page level component for product detail page

    -->

<div data-sly-resource="${'parLanding' @ resourceType='foundation/components/parsys'}" data-sly-unwrap></div>


<div class="product-list-section  clearfix">
	<div class="col-1 left pad">

        <div class="prod-list">
            <div class="heading">Products</div>
                <ul>
                <li><a href="#">Feature Products</a></li>	
                            <li><a href="#">Cancer Diagnosis</a></li>	
                            <li><a href="#">Cancer Research</a></li>

                 </ul>
        </div>
        <div class="filter-list">
            <div class="heading">Filters</div>
                <ul>
                <li><a href="#">Breast Cancer</a></li>	
                            <li><a href="#">Products</a></li>	
                            <li><a href="#">Digital Pathology</a></li>
    
                 </ul>
        </div>
    </div>
    <div class="col-2 right">
    		<div class="sort-section clearfix">
				<span class="text">Showing 12 results in Cancer research,screening and pathology</span>
                <span class="select-sort">
               	<select>
                      <option value="sort">Sort</option>
                      <option value="dsc">Descending</option>
                      <option value="asc">Ascending</option>

					</select>
                 </span>
            </div>
			<div data-sly-resource="${'productListPar' @ resourceType='foundation/components/parsys'}" data-sly-unwrap></div>
    </div>

</div>