.c-headline-body-copy {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: convert-in-rem(1400);
  padding: 0 convert-in-rem(16);
  .x-article-text {
    font-size: convert-in-rem(16);
    line-height: convert-in-rem(22);
    margin-top: convert-in-rem(24);
  }
  .x-body-tags {
    float: none;
  }
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  .x-facebook-icon,
  .x-twitter-icon,
  .x-email-icon,
  .x-facebook-icon:hover,
  .x-twitter-icon:hover,
  .x-email-icon:hover {
    background-size: convert-in-rem(58);
  }
  .x-author-details {
    margin-top: convert-in-rem(24);
  }
  .tags-list {
    margin-top: convert-in-rem(16);
  }
  .social-share {
    margin-top: convert-in-rem(24);
  }
  .social-share-icon {
    width: convert-in-rem(58);
    height: convert-in-rem(58);
    margin-right: convert-in-rem(27);
  }
  .x-author-details p {
    padding: 0;
    margin: 0;
  }
  .tags-list {
    display: inline-block;
    padding-left: 0;
    margin-bottom: 0;
  }
  .h3 {
    font-size: convert-in-rem(30);
    line-height: convert-in-rem(36);
  }
  .headline {
    @include components-header();
  }
}

@media ($tablet) {
  .c-headline-body-copy {
    max-width: 588px;
    padding: 0;
    .social-share-icon {
      width: convert-in-rem(40);
      height: convert-in-rem(40);
      margin-right: convert-in-rem(24);
    }
    .social-share {
      margin-top: convert-in-rem(52);
      line-height: 0;
    }
    .tags-list {
      margin-top: convert-in-rem(17);
    }
    .x-facebook-icon,
    .x-twitter-icon,
    .x-email-icon,
    .x-facebook-icon:hover,
    .x-twitter-icon:hover,
    .x-email-icon:hover {
      background-size: convert-in-rem(40);
    }
    .x-article-text {
      font-size: convert-in-rem(20);
      line-height: convert-in-rem(26);
      margin-top: convert-in-rem(52);
    }
    .x-body-tags {
      float: left;
    }
    .h3 {
      font-size: convert-in-rem(48);
      line-height: convert-in-rem(54);
    }
  }
}
