<!-- this is the template for navigation menu -->
<sly data-sly-template.relatedproducts_template="${@ data,flag}">
  <section class="c-related-products">
  	<h2 data-sly-test="${data.sectionHeading}" class="c-related-products__heading">${data.sectionHeading}</h2>
  	<div class="c-related-products__wrapper">
  		<div class="c-related-products__container">
		  	<sly data-sly-list.item="${data.pdpBeanList}">
				<div class="c-listingTile__list">
				  <a href="${item.pagePath}" class="c-listingTile__link x-sub-hover"
				     data-fn-click="true"
				     data-da-satellitetrackevent="product-click-tracking"
				     data-da-link_link-page-name=""
				     data-da-link_link-category="internal"
				     data-da-link_link-section="${item.componentName}"
				     data-da-link_link-text="${item.productTitle}"
				     data-da-link_link-interaction-method=""
				     data-da-link_link_product-name="${item.productTitle}"
				     data-da-link_link_product-category-="${item.businessArea}"
				     data-da-link_link_product-id="${item.productId}"
				     data-da-link_event="product-click"
				     data-da-link_link-header="${item.sectionHeading}"
				     >
				    <div class="c-listingTile__productWrapper">
				      <div class="c-listingTile__productContent col-xs-12 col-md-8">
				        <div class="c-listingTile__productContentWrapper">
				          <span data-sly-test="${item.productTitle}" class="c-listingTile__productTitle">${item.productTitle}</span>
				          <span data-sly-test="${item.businessArea}" class="c-listingTile__productCategory">${item.businessArea}</span>
				        </div>
				      </div>
				      <div class="c-listingTile__productAsset">
				        <sly data-sly-use.lib="/apps/roche/pharma/customerportal/components/dynamicimage/dynamicimage.html" data-sly-call="${lib.dynamicimage_template @imagePath=item.productImage,
	                	altText=item.altText}"/>
				      </div>
				    </div>
				  </a>
				</div>
			</sly>
		</div>
	</div>
  </section>
</sly>
