.c-socialfeed {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid $clr-outline;

  &__header {
    padding: convert-in-rem(24) convert-in-rem(15) convert-in-rem(24) convert-in-rem(98);
    border-bottom: 1px solid $clr-outline;
    font-family: arial;
    font-family: $font-imagopro-light;
    font-size: 1.5em;
    color: $heading-color;
    background: url('../../roche.global.publish/images/Twitter.svg') no-repeat convert-in-rem(24) center;
    background-size: 40px 40px;
  }

  &__content {
    max-height: 770px;
    padding: convert-in-rem(26) convert-in-rem(6);
    overflow-y: auto;
    overflow-x: hidden;
    iframe:nth-child(2) {
      margin-right: 150%;
      margin-left: -150%;
    }
  }

  @media ($mobile) {
    border-width: 1px 0;
  }

  @media ($tablet) {
    &__header {
      background-position: convert-in-rem(28) center;
    }
    &__content {
      padding: convert-in-rem(42) convert-in-rem(88);
    }
  }
}

.x-outer-margins.c-socialfeed-wrapper {
  @media ($mobile) {
    padding: 0;
  }
}

