---
{
"layout"	 : "fw-index.hbs",
"categories" : "admin-pages",
"lead"       : "Welcome to our website!",
"title"      : "Ux Library Components Page"
}
---
<sly data-sly-use.headerModel="/apps/roche/pharma/customerportal/components/header/ux-model.js"
       data-sly-use.lib1="/apps/roche/pharma/customerportal/components/header/header-template.html" />

<sly data-sly-use.hamburgermenuModel="/apps/roche/pharma/customerportal/components/hamburgermenu/ux-model.js"
         data-sly-use.lib="/apps/roche/pharma/customerportal/components/hamburgermenu/hamburgermenu-template.html"/>

<sly data-sly-use.footerModel="/apps/roche/pharma/customerportal/components/footer/ux-model.js"
       data-sly-use.lib4="/apps/roche/pharma/customerportal/components/footer/footer-template.html" />

<sly data-sly-use.headlinebodyModel="/apps/roche/pharma/customerportal/components/headlinebody/ux-model.js"
       data-sly-use.lib3="/apps/roche/pharma/customerportal/components/headlinebody/headlinebody-template.html" />

<sly data-sly-use.listingwrapperModel="/apps/roche/pharma/customerportal/components/listingwrapper/ux-model.js"
       data-sly-use.lib5="/apps/roche/pharma/customerportal/components/listingwrapper/listingwrapper-template.html" />

<sly data-sly-use.searchsortModel="/apps/roche/pharma/customerportal/components/searchsort/ux-model.js"
       data-sly-use.lib6="/apps/roche/pharma/customerportal/components/searchsort/searchsort-template.html" />

<sly data-sly-call="${lib1.header_template @ data=headerModel}" />
<sly data-sly-call="${lib.hamburgermenu_template @ data=hamburgermenuModel}" />
    <div class="x-content-wrapper">
        <div class="t-prod-listing">
            <div class="js-page-props" data-category-Type="featured"></div>
            <section class="x-outer-margins c-page-title">
                Title
            </section>
            <section class="c-hero-banner">
                Hero banner
            </section>
            <section class="x-outer-margins c-headline-body">
                Supporting headline
            </section>
            <section class="t-prod-listing__search-row hidden-xs">
                Search row
            </section>
            <section class="c-prod-listing-wrapper">
                <div class="hidden js-media-config" data-media-url='https://roche-staging-h.assetsadobe2.com/is/image/'>
                    <div class="productTile" data-desktop=',72'></div>
                    <div class="featuredTile" data-desktop=',216' data-mobileP=',92'></div>
                </div>
                <div class="prod-search-results-tile">
                    <span class="js-current-count" data-text="${'rdoe_searchResult.count' @ i18n}"></span>
                    <div class="sorting-list-container">
                        <sly data-sly-call="${lib6.searchsort_template @ data=searchsortModel, tab='Product'}" />
                    </div>
                </div>
                <div class="visible-xs prod-filter-tab">
                </div>
                <div class="hidden-xs prod-filter-container">
                    Filter
                </div>
                <div class="prod-listing-container">
                    <sly data-sly-call="${lib5.listingwrapper_template @ data=listingwrapperModel}" />
                </div>
            </section>
        </div>
    </div>
<sly data-sly-call="${lib4.footer_template @ data=footerModel}" />


